<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="js/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>
            <ul class="nav pull-right">
              <li><a href="#login" role="button" data-toggle="modal"><span class="ico user"></span> INICIAR SESIÓN</a></li>
              <li class="sep"></li>
              <li><a href="contacto.html"><span class="ico contact"></span> CONTACTO</a></li>
              <li class="sep"></li>
              <li><a href="#"><span class="ico help"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
	
	<div class="green">
		<div class="container">
			<div class="row-fluid section campaign selection paypal">
			
				<div class="span10">
					<div class="white">
						<h1><strong>6.</strong> Quieres confirmar <strong>tu descuento?</strong></h1>
						<div class="total">
							PRECIO TARIFA <span class="tarifa">$1280</span> PRECIO TOTAL <span class="tarifa underline">$1024</span>
						</div>
						<div class="row-fluid">
							<div class="span7">
								<div class="txt-container">
									<p class="txt-big">Con el pago de tan solo ¤ 10,24 <br />(1% del total) te confirmaremos el coste real de tu compra, que podría ser másbajo que el precio final mostrado.</p>
	
									<p class="txt-info">Este pago incluye, negociación definitiva con las emisoras, calendario emisión, envio de ordenes, reserva de espacios, control y seguimiento de campaña.</p>
									<a href="#registracion" class="btn btn-green btn-large" data-toggle="modal">OBTENER DESCUENTO! ►</a>
								</div>
							</div>
							
							<div class="span5">
								<img src="img/img-paypal.gif" width="232" height="194" alt="Paypal">
							</div>
							
						</div>
						<span class="pico"></span>
					</div>
				</div>
				
				<div class="span2">
					<div class="avatar">
						<img src="img/avatar-big-ok.png" width="111" height="122" alt="avatar">
						<h3>Tu resumen</h3>
						<ul class="resumen">
							<li>PLAN: <span>MEDIOS</span></li>
							<li>DONDE: <span>CCAA</span></li>
							<li>ANUNCIOS: <span>14</span></li>
							<li>TOTAL: <span>$1000000</span></li>
						</ul>
					</div>
					<a href="#" class="ver-link">¿Quieres ver cómo será tu plan de medios?</a>
				</div>
				
			</div>
		</div>
	</div>


    <div class="container">

      <div class="row wizard-nav on">
	  	<a href="campana-planificacion-01.html"><span class="uno"><span class="ok"></span></span></a>
	  	<a href="campana-planificacion-02.html"><span class="dos"><span class="ok"></span></span></a>
	  	<a href="campana-planificacion-03.html"><span class="tres"><span class="ok"></span></span></a>
	  	<a href="campana-planificacion-04.html"><span class="cuatro"><span class="ok"></span></span></a>
	  	<a href="campana-planificacion-05.html"><span class="cinco"><span class="ok"></span></span></a>
	  	<span class="seis on"></span>		
	  </div>
	  
	  <div class="footer">
	  	Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
	  </div>

    </div>
	<!-- /container -->
	
	<!-- Login popup -->
	<div id="login" class="modal login hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<form>
				<label>EMAIL</label>
				<input type="text" value="Ejemplo: juan@publienradio.com">
				<label>PASSWORD</label>
				<input type="password">
				<br />
				<input type="submit" class="btn" value="INICIAR SESIÓN ►">
			</form>
			<a href="#">Olvidé mi password</a>
			<div class="ms-register">
				<p>¿no dispones de una cuenta?</p>
				<a href="#" class="italic">REGISTRATE AHORA!</a>
			</div>
		</div>
    </div>
	<!-- /.Login popup -->
	
	<!-- Aviso completar datos popup -->
	<div id="confirm" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<span class="ico pencil"></span>
			<p>Para que podamos conseguir los mejores valores para tu planificación debes terminar de completar los datos de tu campaña.</p>
			<a href="#" class="btn btn-large pull-right">COMPLETAR DATOS DE CAMPAÑA ►</a>
		</div>
    </div>
	<!-- /.Aviso completar datos popup -->
	
	<!-- Registracion popup -->
	<div id="registracion" class="modal ms registracion hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<h2>REGISTRATE <br />
			<span class="italic">EN POCOS PASOS! </span></h2>
			<div class="row-fluid">
						
				<div class="span12">				
					<div class="row-fluid">
						<div class="span6">
							<label>NOMBRE</label>
							<input type="text">
						</div>
						<div class="span6">
							<label>APELLIDO</label>
							<input type="text">
						</div>
					</div>
				
					<div class="row-fluid">
						<div class="span6">
							<label>EMAIL</label>
							<input type="text">
						</div>
						<div class="span6">
							<label>REPITE EMAIL</label>
							<input type="text">
						</div>
					</div>
				
					<div class="row-fluid">
						<div class="span6">
							<label>PASSWORD</label>
							<input type="text">
						</div>
						<div class="span6">
							<label>REPITE PASSWORD</label>
							<input type="text">
						</div>
					</div>
				
					<div class="row-fluid">
						<div class="span8">
							<span class="txt-captcha">CAPTCHA 9HG2DA1 <input type="text" class="captcha">	</span>		
							<br />
							<input type="checkbox"> <a href="#condiciones" data-toggle="modal">ACEPTO LAS CONDICIONES DE USO</a>
						</div>
						<div class="span4 text-right">
							<input type="submit" class="btn pull-right" value="REGISTRARME ►"> <br /> <br />
							<a href="#">O INICIAR SESIÓN </a>
						</div>
					</div>
					
					
				</div>
				
			</div>
		</div>
    </div>
	<!-- /.Registracion popup -->
	
	<!-- Registracion ok popup -->
	<div id="registracion-ok" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<span class="ico ok-big"></span>
			<h2>GRACIAS POR REGISTRARTE!</h2>
			<p>En segundos recibirás, en el email indicado, la información
para activar tu cuenta y poder acceder a <strong>PUBLIENRADIO</strong>.</p>
		</div>
    </div>
	<!-- /.Registracion ok popup -->
	
	<!-- Activacion cuenta popup -->
	<div id="activacion-ok" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<span class="ico ribbon"></span>
			<h2>GRACIAS POR REGISTRARTE!</h2>
			<p>Acabas de activar tu cuenta en PUBLIENRADIO<br />
			ya estás listo para generar tu propio presupuesto.</p>
			<a href="#" class="btn btn-large pull-right">CREAR CAMPAÑA ►</a>
		</div>
    </div>
	<!-- /.Activacion cuenta popup -->
	
	<!-- condiciones popup -->
	<div id="condiciones" class="modal condiciones hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<div class="scroll-content">
				<h2>Condiciones de uso</h2>
				<h3>1. Precios y pagos</h3>
				<ul>
					<li>-El tiempo de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago.</li>
				</ul>
				<h3>2. Modalidades de uso </h3>
				<ul>
					<li>-El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir. El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir.</li>
					<li>-El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir.</li>
					<li>-El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir. El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir.</li>
				</ul>
				<h3>3. Privacidad</h3>
				<ul>
					<li>-El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago realización del pago realización del pago realización del pago realización del pago realización del pago realización del pago realición del pago máximo en días hábiles realización pago realización del pago.</li>
				</ul>
				<h3>4. Anulaciones</h3>
				<ul>
					<li>-El tiempo de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago.</li>
					<li>-El tiempo de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago.</li>
				</ul>
			</div>
		</div>
    </div>
	<!-- /.condiciones popup -->
	
	<!-- Paypal popup -->
	<div id="paypal-ok" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<span class="ico ok-big"></span>
			<h2>CONFIRMAMOS:</h2>
			<p class="italic">TU PAGO EN PAYPAL HA SIDO RECIBIDO EXITOSAMENTE!</p>
		</div>
    </div>
	<!-- /.Paypal popup -->
	
	<!-- Paypal no informado popup -->
	<div id="paypal-no-informado" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<span class="ico ok-big"></span>
			<h2>TE INFORMAMOS:</h2>
			<p class="italic">EL PAGO NO HA SIDO <br/> INFORMADO DESDE PAYPAL AÚN.</p>
		</div>
    </div>
	<!-- /.Paypal no informado popup -->
	
	

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.screwdefaultbuttonsV2.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".scroll-content").mCustomScrollbar();
		});
		$('.link-popover').popover()
	</script>
	<script type="text/javascript">
	<!--
	$(function(){
	
		$('input:radio').screwDefaultButtons({
			image: 'url("js/images/radioSmall.jpg")',
			width: 30,
			height: 30
		});
		
		$('input:checkbox').screwDefaultButtons({
			image: 'url("js/images/checkboxSmall.jpg")',
			width: 30,
			height: 30
		});
	
	});
	//-->
	</script>

  </body>
</html>
