<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="js/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>
            <ul class="nav pull-right">
              <li><a href="#login" role="button" data-toggle="modal"><span class="ico user"></span> INICIAR SESIÓN</a></li>
              <li class="sep"></li>
              <li><a href="contacto.html"><span class="ico contact"></span> CONTACTO</a></li>
              <li class="sep"></li>
              <li><a href="#"><span class="ico help"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
	
	<div class="green">
		<div class="container">
			<div class="row-fluid section campaign forms">
			
				<div class="span10">
					<div class="white">
						<div class="row-fluid">
						
							<div class="span10">
							<h1>Creatividad</h1>
							
								<div class="row-fluid">
									<div class="span6">
										<label>NOMBRE</label>
										<input type="text">
									</div>
									<div class="span6">
										<label>APELLIDO</label>
										<input type="text">
									</div>
								</div>
							
								<div class="row-fluid">
									<div class="span6">
										<label>EMAIL</label>
										<input type="text">
									</div>
									<div class="span6">
										<label>REPITE EMAIL</label>
										<input type="text">
									</div>
								</div>
							
								<div class="row-fluid">
									<div class="span">
										<label>DETALLE DE CAMPAÑA</label>
										<textarea></textarea><BR />
										CAPTCHA 9HG2DA1 <input type="text" class="captcha">
										
										<inpUt type="submit" class="btn pull-right" value="ENVIAR ►">
									</div>
								</div>
								
							</div>
							
							<div class="span2">
								<span class="note">
									<a href="#creatividad-mas-de-ti" role="button" data-toggle="modal">“Para poder crear tu cuña de radio, necesitamos saber un poco más de ti...”</a>
								</span>
							</div>
							
						</div>
						<span class="pico"></span>
					</div>
				</div>
				
				<div class="span2">
					<div class="avatar">
						<img src="img/avatar-big.png" width="111" height="111">
						<p class="info-text">Desde este formulario te conectarás con nosotros para que sigamos tu presupuesto desde cero con un ejecutivo de cuentas. </p>
					</div>
				</div>
				
			</div>
		</div>
	</div>


    <div class="container">

      <div class="row wizard-nav creatividad">
	  	<span class="uno on"></span>
	  </div>
	  
	  <div class="footer">
	  	Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
	  </div>

    </div>
	<!-- /container -->
	
	<!-- Login popup -->
	<div id="login" class="modal login hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<form>
				<label>EMAIL</label>
				<input type="text" value="Ejemplo: juan@publienradio.com">
				<label>PASSWORD</label>
				<input type="password">
				<br />
				<input type="submit" class="btn" value="INICIAR SESIÓN ►">
			</form>
			<a href="#">Olvidé mi password</a>
			<div class="ms-register">
				<p>¿no dispones de una cuenta?</p>
				<a href="#" class="italic">REGISTRATE AHORA!</a>
			</div>
		</div>
    </div>
	<!-- /.Login popup -->
	
	<!-- Aviso completar datos popup -->
	<div id="confirm" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<span class="ico pencil"></span>
			<p>Para que podamos conseguir los mejores valores para tu planificación debes terminar de completar los datos de tu campaña.</p>
			<a href="#" class="btn btn-large pull-right">COMPLETAR DATOS DE CAMPAÑA ►</a>
		</div>
    </div>
	<!-- /.Aviso completar datos popup -->
	
	<!-- Paypal popup -->
	<div id="warning-complete" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<span class="ico ok-big"></span>
			<h2>CONFIRMAMOS:</h2>
			<p class="italic">TU PAGO EN PAYPAL HA SIDO RECIBIDO EXITOSAMENTE!</p>
		</div>
    </div>
	<!-- /.Paypal popup -->
	
	<!-- Más de ti popup -->
	<div id="creatividad-mas-de-ti" class="modal ms-big hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<h2>“Para poder crear tu cuña de radio, necesitamos saber un poco más de ti..”</h2>

			<p><strong>A qué te dedicas?</strong> No siempre como tu te ves, es como te ven los demás, por eso es 
importante intentar ser objetivo, define tu actividad, con palabras claras y en muy 
pocas líneas; no es necesario que busques tecnicismos.</p>

			<p><strong>A quién quieres dirigirte?</strong> Hombres, mujeres o ambos?, de qué edad? Jóvenes, mayores, todas las edades, o un publico muy concreto??, si es así dinos cuál por favor, de qué clase social??, alta, baja, media, todas?, todos los datos que nos puedas dar, nos ayudará a buscar una comunicación que te identifique con tu público objetivo.</p>

			<p><strong>Qué anuncio de radio o la publicidad de qué anunciante, te gustaría que fuera tuya? </strong> con qué tono te encuentras más cómodo? Humor, testimonial, institucional, muy serio… o con cuál no te encuentras cómodo?</p>

			<p><strong>Qué valores de tu producto o servicio,</strong> crees que son relevantes o diferenciales, respecto a la competencia, el precio, los años de experiencia/antigüedad, la distribución, la rapidez, la innovación, la profesionalidad? Por qué un cliente debería escoger tu producto o servicio, frente a los demás…</p>

			<p><strong>Quieres contarnos algo más</strong> que consideras interesante para que lo tengamos en cuenta, o que debamos incluir obligatoriamente?? Música?, palabras concretas?, tienes una pequeña idea, y quieres que trabajemos sobre ella? En que idioma la quieres??</p>
			<a href="#" data-dismiss="modal" class="ico ok pull-right"></a>
		</div>
    </div>
	<!-- /.Más de ti popup -->
	
	
	

	
	

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>	
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".scroll-content").mCustomScrollbar();
		});
	</script>

  </body>
</html>
