<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="js/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>
            <ul class="nav pull-right">
              <li><a href="#login" role="button" data-toggle="modal"><span class="ico user"></span> INICIAR SESIÓN</a></li>
              <li class="sep"></li>
              <li><a href="contacto.html"><span class="ico contact"></span> CONTACTO</a></li>
              <li class="sep"></li>
              <li><a href="#"><span class="ico help"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
	
	<div class="green">
		<div class="container">
			<div class="row-fluid section campaign selection">
			
				<div class="span10">
					<div class="white"> 
						<h1><strong>4. ¿Cuánto</strong> duran tus anuncios?</h1>
						<div class="checkbox-container">
							<input type="checkbox"> 5´´
							<input type="checkbox"> 10
							<input type="checkbox"> 15
							<input type="checkbox"> 20
							<input type="checkbox"> 25
							<input type="checkbox"> 30
							<input type="checkbox"> 45
							<input type="checkbox"> 1´
							<input type="checkbox"> 3´
						</div>
						<div class="row-fluid">
							<div class="span2 line-right">
								<div class="scroll-content small">
									<ul class="selector text-right">
										<li class="active"><a href="#"> 30</a></li>
										<li><a href="#"><span class="checked"></span> 45</a></li>
										<li><a href="#"><span class="checked"></span> 3´</a></li>
									</ul>
								</div>
							</div>
							
							<div class="span10">
								<div class="emisoras-container scroll-content small">
									<ul class="horarios">
										<li>
											<img src="img/img-radio.png">
											<a href="#" class="btn-light grey">DOM  |  10 a 11 </a>
											<a href="#" class="btn-light grey">CATALUÑA</a>
										</li>
										<li>
											<img src="img/img-radio.png">
											<a href="#" class="btn-light grey">DOM  |  10 a 11 </a>
											<a href="#" class="btn-light grey">CATALUÑA</a>
										</li>
										<li class="active">
											<img src="img/img-radio.png">
											<a href="#" class="btn-light grey">DOM  |  10 a 11 </a>
											<a href="#" class="btn-light grey">CATALUÑA</a>
										</li>
										<li>
											<img src="img/img-radio.png">
											<a href="#" class="btn-light grey">DOM  |  10 a 11 </a>
											<a href="#" class="btn-light grey">CATALUÑA</a>
										</li>
									</ul>
								</div>
							</div>
							
						</div>
						<a href="campana-planificacion-05.html" class="siguiente-link">SIGUIENTE <span class="next"></span></a>
						<span class="pico"></span>
					</div>
				</div>
				
				<div class="span2">
					<div class="avatar">
						<img src="img/avatar-big-ok.png" width="111" height="122">
						<h3>Tu resumen</h3>
						<ul class="resumen">
							<li>PLAN: <span>MEDIOS</span></li>
							<li>DONDE: <span>CCAA</span></li>
						</ul>
					</div>
					<a href="#" class="ver-link">¿Quieres ver cómo será tu plan de medios?</a>
				</div>
				
			</div>
		</div>
	</div>


    <div class="container">

      <div class="row wizard-nav on">
	  	<a href="campana-planificacion-01.html"><span class="uno"><span class="ok"></span></span></a>
	  	<a href="campana-planificacion-02.html"><span class="dos"><span class="ok"></span></span></a>
	  	<a href="campana-planificacion-03.html"><span class="tres"><span class="ok"></span></span></a>
	  	<span class="cuatro on"></span>	
	  </div>
	  
	  <div class="footer">
	  	Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
	  </div>

    </div>
	<!-- /container -->
	
	<!-- Login popup -->
	<div id="login" class="modal login hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<form>
				<label>EMAIL</label>
				<input type="text" value="Ejemplo: juan@publienradio.com">
				<label>PASSWORD</label>
				<input type="password">
				<br />
				<input type="submit" class="btn" value="INICIAR SESIÓN ►">
			</form>
			<a href="#">Olvidé mi password</a>
			<div class="ms-register">
				<p>¿no dispones de una cuenta?</p>
				<a href="#" class="italic">REGISTRATE AHORA!</a>
			</div>
		</div>
    </div>
	<!-- /.Login popup -->
	
	<!-- Aviso completar datos popup -->
	<div id="confirm" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<span class="ico pencil"></span>
			<p>Para que podamos conseguir los mejores valores para tu planificación debes terminar de completar los datos de tu campaña.</p>
			<a href="#" class="btn btn-large pull-right">COMPLETAR DATOS DE CAMPAÑA ►</a>
		</div>
    </div>
	<!-- /.Aviso completar datos popup -->
	
	<!-- Paypal popup -->
	<div id="paypal-ok" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<span class="ico ok-big"></span>
			<h2>CONFIRMAMOS:</h2>
			<p class="italic">TU PAGO EN PAYPAL HA SIDO RECIBIDO EXITOSAMENTE!</p>
		</div>
    </div>
	<!-- /.Paypal popup -->
	
	<!-- emisora popup -->
	<div id="emisora" class="modal emisora hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<h2>Emisora: rock FM</h2>
		<div class="modal-body">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
			<tr class="main-th">
				<th scope="col" width="16%" class="dark">&nbsp;</th>
				<th scope="col" width="28%">LUNES A VIERNES</th>
				<th scope="col" width="28%" class="light">SABADO</th>
				<th scope="col" width="28%">DOMINGO</th>
			</tr>
			<tr>
				<th scope="row">6:00 - 7:00</th>
				<td>&nbsp;</td>
				<td>MÚSICA Y LETRA</td>
				<td>TIRANDO A FALLAR</td>
			</tr>
			<tr>
				<th scope="row">7:00 - 8:00</th>
				<td>&nbsp;</td>
				<td class="osc">PALABRAS MAYORES</td>
				<td class="osc">PALABRAS MAYORES</td>
			</tr>
			<tr>
				<th scope="row">8:00 - 9:00</th>
				<td>&nbsp;</td>
				<td>SIN COMPLEJOS</td>
				<td>SIN COMPLEJOS</td>
			</tr>
			<tr>
				<th scope="row">9:00 - 10:00</th>
				<td class="active">ES LA MAÑANA</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">10:00 - 11:00</th>
				<td class="active">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">11:00 - 12:00</th>
				<td>&nbsp;</td>
				<td class="osc">JUNGLA DE ASFALTO</td>
				<td class="osc">JUNGLA DE ASFALTO</td>
			</tr>
			<tr>
				<th scope="row">12:00 - 13:00</th>
				<td class="osc">DÉJATE DE HISTORIAS</td>
				<td>ES LA MAÑANA FS</td>
				<td>ES LA MAÑANA FS</td>
			</tr>
			<tr>
				<th scope="row">13:00 - 14:00</th>
				<td class="osc">&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">14:00 - 15:00</th>
				<td>ES NOTICIA</td>
				<td class="osc">ECONOMÍA PARA TODOS</td>
				<td class="osc">MÚSICA Y LETRA</td>
			</tr>
			<tr>
				<th scope="row">15:00 - 16:00</th>
				<td class="osc">FÚTBOL ES RADIO</td>
				<td>ES SALUD</td>
				<td>ES SALUD</td>
			</tr>
			<tr>
				<th scope="row">16:00 - 17:00</th>
				<td>&nbsp;</td>
				<td class="osc">TIRANDO A FALLAR</td>
				<td class="osc">ES MODA</td>
			</tr>
			<tr>
				<th scope="row">17:00 - 18:00</th>
				<td>EN CASA DE HERRERO</td>
				<td>LA LIGA DE RADIO</td>
				<td>ES TOROS</td>
			</tr>
			<tr>
				<th scope="row">18:00 - 19:00</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="osc">LA LIGA DE RADIO</td>
			</tr>
			<tr>
				<th scope="row">19:00 - 20:00</th>
				<td class="osc">A TODA SALUD</td>
				<td>&nbsp;</td>
				<td class="osc">&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">20:00 - 21:00</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="osc">&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">21:00 - 22:00</th>
				<td>ES LA NOCHE</td>
				<td>&nbsp;</td>
				<td class="osc">&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">22:00 - 23:00</th>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td class="osc">&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">23:00 - 24:00</th>
				<td>&nbsp;</td>
				<td class="osc">GOLES CON PARRADO</td>
				<td class="osc">&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">24:00 - 1:00</th>
				<td class="osc">ES AMOR</td>
				<td>LD LIBROS</td>
				<td class="osc">&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">1:00 - 2:00</th>
				<td class="osc">&nbsp;</td>
				<td class="osc">COWBOYS DE MEDIANOCHE</td>
				<td class="osc">&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">2:00 - 3:00</th>
				<td class="osc">&nbsp;</td>
				<td>ES MÚSICA</td>
				<td>FINALES NBA</td>
			</tr>
			<tr>
				<th scope="row">3:00 - 4:00</th>
				<td>ES MÚSICA</td>
				<td class="osc">SIN COMPLEJOS R</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">4:00 - 5:00</th>
				<td class="osc">TIEMPO EXTRA</td>
				<td class="osc">&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th scope="row">5:00 - 6:00</th>
				<td>LO MEJOR DE CÉSAR VIDAL</td>
				<td>LA ROSA DE LOS VIENTOS</td>
				<td class="osc">ES MÚSICA</td>
			</tr>
		</table>
		
		<a href="#" data-dismiss="modal" class="ok-big"></a>

		</div>
    </div>
	<!-- /.emisora popup -->
	
	

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.screwdefaultbuttonsV2.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".scroll-content").mCustomScrollbar();
		});
	</script>
	<script type="text/javascript">
	<!--
	$(function(){
	
		$('input:radio').screwDefaultButtons({
			image: 'url("js/images/radioSmall.jpg")',
			width: 25,
			height: 25
		});
		
		$('input:checkbox').screwDefaultButtons({
			image: 'url("js/images/checkboxSmall.jpg")',
			width: 25,
			height: 25
		});
	
	});
	//-->
	</script>

  </body>
</html>
