<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="js/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>
            <ul class="nav pull-right">
              <li><a href="#login" role="button" data-toggle="modal"><span class="ico user"></span> INICIAR SESIÓN</a></li>
              <li class="sep"></li>
              <li><a href="contacto.html"><span class="ico contact"></span> CONTACTO</a></li>
              <li class="sep"></li>
              <li><a href="#"><span class="ico help"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
	
	<div class="green">
		<div class="container">
			<div class="row-fluid section campaign selection">
			
				<div class="span10">
					<div class="white">
						<h1><strong>2.</strong> ¿En que <strong>emisoras?</strong></h1>
						<div class="row-fluid">
							<div class="span3 line-right">
								<div class="scroll-content">
									<ul class="selector text-right">
										<li><a href="#"><span class="checked"></span> Asturias</a></li>
										<li class="active"><a href="#">Comunidad Valenciana</a></li>
										<li><a href="#"><span class="checked"></span> Cataluña</a></li>
									</ul>
								</div>
							</div>
							
							<div class="span9 emisoras">
								<div class="controls">
									<a href="#" class="arrow up"></a>
									<a href="#" class="arrow down"></a>
								</div>
								<div class="emisoras-container scroll-content">
									<a href="#"><img src="img/img-radio.png"></a>
									<a href="#"><img src="img/img-radio.png"></a>
									<a href="#"><img src="img/img-radio.png"></a>
									<a href="#" class="active"><img src="img/img-radio.png"></a>
									<a href="#"><img src="img/img-radio.png"></a>
									<a href="#"><img src="img/img-radio.png"></a>
									<a href="#"><img src="img/img-radio.png"></a>
									<a href="#"><img src="img/img-radio.png"></a>
									<a href="#"><img src="img/img-radio.png"></a>
									<a href="#"><img src="img/img-radio.png"></a>
								</div>
							</div>
							
						</div>
						<a href="campana-planificacion-03.html" class="siguiente-link">SIGUIENTE <span class="next"></span></a>
						<span class="pico"></span>
					</div>
				</div>
				
				<div class="span2">
					<div class="avatar">
						<img src="img/avatar-big-ok.png" width="111" height="122">
						<h3>Tu resumen</h3>
						<ul class="resumen">
							<li>PLAN: <span>MEDIOS</span></li>
							<li>DONDE: <span>CCAA</span></li>
						</ul>
					</div>
					<a href="#" class="ver-link">¿Quieres ver cómo será tu plan de medios?</a>
				</div>
				
			</div>
		</div>
	</div>


    <div class="container">

      <div class="row wizard-nav on">
	  	<a href="campana-planificacion-01.html"><span class="uno"><span class="ok"></span></span></a>
	  	<span class="dos on"></span>
	  </div>
	  
	  <div class="footer">
	  	Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
	  </div>

    </div>
	<!-- /container -->
	
	<!-- Login popup -->
	<div id="login" class="modal login hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<form>
				<label>EMAIL</label>
				<input type="text" value="Ejemplo: juan@publienradio.com">
				<label>PASSWORD</label>
				<input type="password">
				<br />
				<input type="submit" class="btn" value="INICIAR SESIÓN ►">
			</form>
			<a href="#">Olvidé mi password</a>
			<div class="ms-register">
				<p>¿no dispones de una cuenta?</p>
				<a href="#" class="italic">REGISTRATE AHORA!</a>
			</div>
		</div>
    </div>
	<!-- /.Login popup -->
	
	<!-- Aviso completar datos popup -->
	<div id="confirm" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<span class="ico pencil"></span>
			<p>Para que podamos conseguir los mejores valores para tu planificación debes terminar de completar los datos de tu campaña.</p>
			<a href="#" class="btn btn-large pull-right">COMPLETAR DATOS DE CAMPAÑA ►</a>
		</div>
    </div>
	<!-- /.Aviso completar datos popup -->
	
	<!-- Paypal popup -->
	<div id="paypal-ok" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<span class="ico ok-big"></span>
			<h2>CONFIRMAMOS:</h2>
			<p class="italic">TU PAGO EN PAYPAL HA SIDO RECIBIDO EXITOSAMENTE!</p>
		</div>
    </div>
	<!-- /.Paypal popup -->
	
	

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".scroll-content").mCustomScrollbar();
		});
	</script>

  </body>
</html>
