<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>
            <ul class="nav pull-right">
              <li><a href="#login" role="button" data-toggle="modal"><span class="ico user"></span> INICIAR SESIÓN</a></li>
              <li class="sep"></li>
              <li><a href="contacto.html"><span class="ico contact"></span> CONTACTO</a></li>
              <li class="sep"></li>
              <li><a href="#"><span class="ico help"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
	
	<div class="green">
		<div class="container">
			<div class="row-fluid section contacto">
			
				<h1><span>Contacto</span></h1>
				
				<div class="line">&nbsp;</div>
				
				<div class="span6">
					<form>
						<div class="row-fluid">
							<div class="span5">
								<label>NOMBRE</label>
								<input type="text">
							</div>
							<div class="span5">
								<label>APELLIDO</label>
								<input type="text">
							</div>
						</div>
						
						<div class="row-fluid">
							<div class="span5">
								<label>EMAIL</label>
								<input type="text">
							</div>
							<div class="span5">
								<label>REPITE EMAIL</label>
								<input type="text">
							</div>
						</div>
						
						<div class="row-fluid">
							<div class="span">						
								<label>MENSAJE</label>
								<textarea>A qué te dedicas?
A quién quieres dirigirte? </textarea>
							</div>
						</div>
						
						<div class="row-fluid">
							<div class="span">							
								<label class="pull-left">CAPTCHA 9HG2DA1</label> <input type="text" class="captcha"> <input type="submit" class="btn" value="Enviar ►">
							</div>
						</div>
					</form>
				</div>
			
				<div class="span6 address">
					<div class="dir">
						<span class="ico dir-uno"></span>
						<p>Calle Orión Nº 23</p>
						<p>Urbanización Miraval, 28130 Alalpardo | Madrid</p>
						<p>Tfno. 91 431 92 96</p>
						<p>Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a></p>
					</div>
					<div class="dir">
						<span class="ico dir-dos"></span>
						<p>Estudio de Grabación</p>
						<p>Calle Mazarredo 10 28005 | Madrid</p>
						<p>Entrada por agencia REMO </p>
						<p>Servicios Creativos:</p>
						<p>Agencia Remo | <a href="mailto:david@iloveremo.com">david@iloveremo.com</a></p>
					</div>
				</div>
				
			</div>
		</div>
	</div>

    <div class="container">
      <div class="main-nav">
		  <div class="row-fluid">
			<div class="span4">
				<a href="quienes-somos.html">
					<span class="img-quienes-somos"></span>  <br />
					QUIÉNES  <br />SOMOS
				</a>
			</div>
			<div class="span4">
				<a href="servicios.html">
					<span class="img-servicios"></span> <br />
					SERVICIOS
				</a>
			</div>
			<div class="span4">
				<a href="faq.html">
					<span class="img-faq"></span>  <br />
					PREGUNTAS  <br /> FRECUENTES
				</a>
			</div>
		  </div>
    	</div>
    </div>
	  
	  <div class="footer">
	  	Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
	  </div>

    </div>
	<!-- /container -->
	
	<!-- Login popup -->
	<div id="login" class="modal login hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<form>
				<label>EMAIL</label>
				<input type="text" value="Ejemplo: juan@publienradio.com">
				<label>PASSWORD</label>
				<input type="password">
				<br />
				<input type="submit" class="btn" value="INICIAR SESIÓN ►">
			</form>
			<a href="#">Olvidé mi password</a>
			<div class="ms-register">
				<p>¿no dispones de una cuenta?</p>
				<a href="#" class="italic">REGISTRATE AHORA!</a>
			</div>
		</div>
    </div>
	<!-- /.Login popup -->

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
