<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>
            <ul class="nav pull-right">
              <li><a href="#login" role="button" data-toggle="modal"><span class="ico user"></span> INICIAR SESIÓN</a></li>
              <li class="sep"></li>
              <li><a href="contacto.html"><span class="ico contact"></span> CONTACTO</a></li>
              <li class="sep"></li>
              <li><a href="#"><span class="ico help"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
	
	<div class="green">
		<div class="container">
			<div class="section section-faq">
			<div class="row-fluid">
				<div class="span4 text-right">
					<div class="id-section">
						<div class="icon faq"></div>
						<h1><span>Preguntas</span>
							<span>frecuentes</span>
						</h1>
					</div>
				</div>
				<div class="span8">
					<div class="controls">
						<a href="#" class="arrow up"></a>
					</div>
					<div class="faq-container">
				
						<div class="accordion" id="faq-list">
						
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list" href="#preg1">
										<span class="num">1</span> ¿Cuál es el tiempo de respuesta en caso de enviar un pedido de cotización sobre mi plan de medios?
									</a>
								</div>
								<div id="preg1" class="accordion-body collapse in">
									<div class="accordion-inner">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</div>
								</div>
							</div>
							
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list" href="#preg2">
										<span class="num">2</span> ¿Cuál es el tiempo de respuesta en caso de enviar un pedido de cotización sobre mi plan de medios?
									</a>
								</div>
								<div id="preg2" class="accordion-body collapse">
									<div class="accordion-inner">
										Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</div>
								</div>
							</div>
							
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list" href="#preg3">
										<span class="num">3</span> ¿Cuál es el tiempo de respuesta en caso de enviar un pedido de cotización sobre mi plan de medios?
									</a>
								</div>
								<div id="preg3" class="accordion-body collapse">
									<div class="accordion-inner">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</div>
								</div>
							</div>
							
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list" href="#preg4">
										<span class="num">4</span> ¿Cuál es el tiempo de respuesta en caso de enviar un pedido de cotización sobre mi plan de medios?
									</a>
								</div>
								<div id="preg4" class="accordion-body collapse">
									<div class="accordion-inner">
										Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</div>
								</div>
							</div>
							
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list" href="#preg5">
										<span class="num">5</span> ¿Cuál es el tiempo de respuesta en caso de enviar un pedido de cotización sobre mi plan de medios?
									</a>
								</div>
								<div id="preg5" class="accordion-body collapse">
									<div class="accordion-inner">
										Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</div>
								</div>
							</div>
							
							<div class="accordion-group">
								<div class="accordion-heading">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list" href="#preg6">
										<span class="num">6</span> ¿Cuál es el tiempo de respuesta en caso de enviar un pedido de cotización sobre mi plan de medios?
									</a>
								</div>
								<div id="preg6" class="accordion-body collapse">
									<div class="accordion-inner">
										Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									</div>
								</div>
							</div>
							
						</div>
					</div>
					
					<div class="controls">
						<a href="#" class="arrow down"></a>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
	</div>


    <div class="container">

      <div class="main-nav">
		  <div class="row-fluid">
			<div class="span4">
				<a href="quienes-somos.html">
					<span class="img-quienes-somos"></span>  <br />
					QUIÉNES  <br />SOMOS
				</a>
			</div>
			<div class="span4">
				<a href="servicios.html">
					<span class="img-servicios"></span> <br />
					SERVICIOS
				</a>
			</div>
			<div class="span4 active">
				<a href="faq.html">
					<span class="img-faq"></span>  <br />
					PREGUNTAS  <br /> FRECUENTES
				</a>
			</div>
		  </div>
    	</div>
    </div>
	  
	  <div class="footer">
	  	Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
	  </div>

    </div>
	<!-- /container -->
	
	<!-- Login popup -->
	<div id="login" class="modal login hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<form>
				<label>EMAIL</label>
				<input type="text" value="Ejemplo: juan@publienradio.com">
				<label>PASSWORD</label>
				<input type="password">
				<br />
				<input type="submit" class="btn" value="INICIAR SESIÓN ►">
			</form>
			<a href="#">Olvidé mi password</a>
			<div class="ms-register">
				<p>¿no dispones de una cuenta?</p>
				<a href="#" class="italic">REGISTRATE AHORA!</a>
			</div>
		</div>
    </div>
	<!-- /.Login popup -->

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
