{% extends '::layout.html.twig' %}

{% block content %}
	
	<div class="green">
		<div class="container">
			<div class="main">
				<div class="row-fluid">
					<div class="span6">
                        <img src="{{ asset('/bundles/woppublic/img/video.png') }}" width="362" height="279">
					</div>
					<div class="span6">
						<div class="txt-home">
							<h1>Crea tu campaña, <br /><span class="grey">rápido y directo</span></h1>
							<p>La publicidad es una forma de comunicación comercial que intenta incrementar el consumo de un producto o servicio a través de los medios.</p>
							<a href="campana-creacion.html" class="btn btn-large">CREAR CAMPAÑA ►</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
