<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>
            <ul class="nav pull-right">
              <li><a href="#login" role="button" data-toggle="modal"><span class="ico user"></span> INICIAR SESIÓN</a></li>
              <li class="sep"></li>
              <li><a href="contacto.html"><span class="ico contact"></span> CONTACTO</a></li>
              <li class="sep"></li>
              <li><a href="#"><span class="ico help"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
	
	<div class="green">
		<div class="container">
			<div class="row-fluid section campaign">
			
				<div class="span12">
					<div class="white">
						<h1>Detalle de<br /> campaña</h1>
						<a href="comentarios.html" class="comments-link">VER COMENTARIOS <span class="ico-comments"><span class="ico num">2</span></span></a>
						<div class="row-fluid detalle">
							<div class="span3 text-center">
								
								<span class="img-clip">								
									<span class="ico ok"></span>
								</span><br />
							</div>
							<div class="span9">
								<p class="fecha">FECHA DE CREACIÓN: 11/12/2013 15:47</p>
								<p class="status">PAGADO - COMPLETO <a href="#espacios-elegidos" role="button" data-toggle="modal">ver espacios <span class="ico-lupa"></span></a> </p>
								<p>PRECIO TARIFA <span class="tarifa">€15.000</span> TOTAL C/ DESCUENTO <span class="tarifa">€15.000</span></p><br />
								<p class="txt-green">PARA EL TOTAL CON DESCUENTO<br />
								DE PUBLIENRADIO DEBES:</p>
								<a href="#confirm" class="btn btn-green" role="button" data-toggle="modal">CONFIRMAR PRESUPUESTO</a>
							</div>
						</div>
						<a href="servicios.html" class="ico back"></a>
					</div>
				</div>
				
			</div>
		</div>
	</div>


    <div class="container">

      <div class="main-nav">
		  <div class="row-fluid">
			<div class="span4">
				<a href="quienes-somos.html">
					<span class="img-quienes-somos"></span>  <br />
					QUIÉNES  <br />SOMOS
				</a>
			</div>
			<div class="span4">
				<a href="servicios.html">
					<span class="img-servicios"></span> <br />
					SERVICIOS
				</a>
			</div>
			<div class="span4">
				<a href="faq.html">
					<span class="img-faq"></span>  <br />
					PREGUNTAS  <br /> FRECUENTES
				</a>
			</div>
		  </div>
    	</div>
    </div>
	  
	  <div class="footer">
	  	Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
	  </div>

    </div>
	<!-- /container -->
	
	<!-- Login popup -->
	<div id="login" class="modal login hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<form>
				<label>EMAIL</label>
				<input type="text" value="Ejemplo: juan@publienradio.com">
				<label>PASSWORD</label>
				<input type="password">
				<br />
				<input type="submit" class="btn" value="INICIAR SESIÓN ►">
			</form>
			<a href="#">Olvidé mi password</a>
			<div class="ms-register">
				<p>¿no dispones de una cuenta?</p>
				<a href="#" class="italic">REGISTRATE AHORA!</a>
			</div>
		</div>
    </div>
	<!-- /.Login popup -->
	
	<!-- Aviso completar datos popup -->
	<div id="confirm" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<span class="ico pencil"></span>
			<p>Para que podamos conseguir los mejores valores para tu planificación debes terminar de completar los datos de tu campaña.</p>
			<a href="#" class="btn btn-large">COMPLETAR DATOS DE CAMPAÑA ►</a>
		</div>
    </div>
	<!-- /.Aviso completar datos popup -->
	
	<!-- espacios-elegidos popup -->
	<div id="espacios-elegidos" class="modal espacios hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<div class="row-fluid item">
				<div class="span2" >
					<img src="img/img-radio.png" width="85" height="85">
				</div>
				<div class="span7" >
					<p><strong>HORARIO:</strong> 10 a 11 HS | LUN-VIER</p>
					<p><strong>PROGRAMA:</strong> “Hablemos de futbol"</p>
					<p><strong>LUGAR:</strong> Cataluña - España</p>
					<p><strong>CUÑAS:</strong> 2 &nbsp; <strong>TIEMPO:</strong> 10´</p>
				</div>
				<div class="span3">
					<div class="total">
						<p>TOTAL</p>
						<p><span class="tarifa">€5.000</span></p>
						<p class="descuento">C/ DESCUENTO</p>
						<p><span class="tarifa descuento">€5.000</span></p>
					</div>
				</div>
			</div>
			
			<div class="row-fluid item">
				<div class="span2" >
					<img src="img/img-radio.png" width="85" height="85">
				</div>
				<div class="span7" >
					<p><strong>HORARIO:</strong> 10 a 11 HS | LUN-VIER</p>
					<p><strong>PROGRAMA:</strong> “Hablemos de futbol"</p>
					<p><strong>LUGAR:</strong> Cataluña - España</p>
					<p><strong>CUÑAS:</strong> 2 &nbsp; <strong>TIEMPO:</strong> 10´</p>
				</div>
				<div class="span3">
					<div class="total">
						<p>TOTAL</p>
						<p><span class="tarifa">€5.000</span></p>
						<p class="descuento">C/ DESCUENTO</p>
						<p><span class="tarifa descuento">€5.000</span></p>
					</div>
				</div>
			</div>
			
			<div class="row-fluid item">
				<div class="span2" >
					<img src="img/img-radio.png" width="85" height="85">
				</div>
				<div class="span7" >
					<p><strong>HORARIO:</strong> 10 a 11 HS | LUN-VIER</p>
					<p><strong>PROGRAMA:</strong> “Hablemos de futbol"</p>
					<p><strong>LUGAR:</strong> Cataluña - España</p>
					<p><strong>CUÑAS:</strong> 2 &nbsp; <strong>TIEMPO:</strong> 10´</p>
				</div>
				<div class="span3">
					<div class="total">
						<p>TOTAL</p>
						<p><span class="tarifa">€5.000</span></p>
						<p class="descuento">C/ DESCUENTO</p>
						<p><span class="tarifa descuento">€5.000</span></p>
					</div>
				</div>
			</div>
			
			<div class="row-fluid item">
				<div class="span2" >
					<img src="img/img-radio.png" width="85" height="85">
				</div>
				<div class="span7" >
					<p><strong>HORARIO:</strong> 10 a 11 HS | LUN-VIER</p>
					<p><strong>PROGRAMA:</strong> “Hablemos de futbol"</p>
					<p><strong>LUGAR:</strong> Cataluña - España</p>
					<p><strong>CUÑAS:</strong> 2 &nbsp; <strong>TIEMPO:</strong> 10´</p>
				</div>
				<div class="span3">
					<div class="total">
						<p>TOTAL</p>
						<p><span class="tarifa">€5.000</span></p>
						<p class="descuento">C/ DESCUENTO</p>
						<p><span class="tarifa descuento">€5.000</span></p>
					</div>
				</div>
			</div>
		</div>
    </div>
	<!-- /.espacios-elegidos datos popup -->
	
	

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
