<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>
            <ul class="nav pull-right">
              <li><a href="#login" role="button" data-toggle="modal"><span class="ico user"></span> INICIAR SESIÓN</a></li>
              <li class="sep"></li>
              <li><a href="contacto.html"><span class="ico contact"></span> CONTACTO</a></li>
              <li class="sep"></li>
              <li><a href="#"><span class="ico help"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
	
	<div class="green">
		<div class="container">
			<div class="section campaign">
				<div class="row-fluid">
				
					<div class="span12">
						<div class="white">
							<h1>Mis<br /> campañas</h1>
							<div class="mis-campanas">
								<div class="row-fluid text-center">
									<div class="span4">
										<p class="date">11/12/2013</p>
										<span class="img-clip">								
											<span class="ico ok"></span>
										</span><br />
										<a href="#confirm" class="btn btn-green" role="button" data-toggle="modal">CONFIRMAR</a>
									</div>
									<div class="span4">
										<p class="date"><a href="mis-campanas-detalle-campana.html" data-content="PAGADO ESPERANDO RESPUESTA" data-placement="bottom" data-toggle="popover" data-trigger="hover" class="link-popover">
										11/12/2013</a></p>
										<span class="img-clip">							
											<span class="ico whait"></span>
										</span>	<br />
										</a>
									</div>
									<div class="span4">
										<p class="date">11/12/2013</p>
										<span class="img-clip">							
											<span class="ico cancel"></span>
										</span>	<br />
										<a href="#warning-complete" class="btn btn-green" role="button" data-toggle="modal">PAGAR</a>
									</div>
								</div>
							</div>
							<a href="servicios.html" class="ico back"></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>


    <div class="container">

      <div class="main-nav">
		  <div class="row-fluid">
			<div class="span4">
				<a href="quienes-somos.html">
					<span class="img-quienes-somos"></span>  <br />
					QUIÉNES  <br />SOMOS
				</a>
			</div>
			<div class="span4">
				<a href="servicios.html">
					<span class="img-servicios"></span> <br />
					SERVICIOS
				</a>
			</div>
			<div class="span4">
				<a href="faq.html">
					<span class="img-faq"></span>  <br />
					PREGUNTAS  <br /> FRECUENTES
				</a>
			</div>
		  </div>
    	</div>
    </div>
	  
	  <div class="footer">
	  	Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
	  </div>

    </div>
	<!-- /container -->
	
	<!-- Login popup -->
	<div id="login" class="modal login hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<form>
				<label>EMAIL</label>
				<input type="text" value="Ejemplo: juan@publienradio.com">
				<label>PASSWORD</label>
				<input type="password">
				<br />
				<input type="submit" class="btn" value="INICIAR SESIÓN ►">
			</form>
			<a href="#">Olvidé mi password</a>
			<div class="ms-register">
				<p>¿no dispones de una cuenta?</p>
				<a href="#" class="italic">REGISTRATE AHORA!</a>
			</div>
		</div>
    </div>
	<!-- /.Login popup -->
	
	<!-- Aviso completar datos popup -->
	<div id="confirm" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<span class="ico pencil"></span>
			<p>Para que podamos conseguir los mejores valores para tu planificación debes terminar de completar los datos de tu campaña.</p>
			<a href="#" class="btn btn-large pull-right">COMPLETAR DATOS DE CAMPAÑA ►</a>
		</div>
    </div>
	<!-- /.Aviso completar datos popup -->
	
	<!-- Paypal popup -->
	<div id="warning-complete" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<span class="ico ok-big"></span>
			<h2>CONFIRMAMOS:</h2>
			<p class="italic">TU PAGO EN PAYPAL HA SIDO RECIBIDO EXITOSAMENTE!</p>
		</div>
    </div>
	<!-- /.Paypal popup -->
	
	

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script language="javascript">
		$('.link-popover').popover()
	</script>

  </body>
</html>
