<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="js/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>            
        </div>
      </div>
    </div>

    <div class="container">
		<h2>Popups</h2>
		
		<p><a href="#login" data-toggle="modal">Login</a></p>
		<p><a href="#confirm" data-toggle="modal">Mis campañas: Completar datos de tu campaña</a></p>
		<p><a href="#warning-complete" data-toggle="modal">Mis campañas: Pago de Paypal ok</a></p>
		<p><a href="#espacios-elegidos" data-toggle="modal">Detalle de campaña: Espacios</a></p>
		<p><a href="#registracion" data-toggle="modal">Registración</a></p>
		<p><a href="#registracion-ok" data-toggle="modal">Registración ok</a></p>
		<p><a href="#activacion-ok" data-toggle="modal">Activación de cuenta ok</a></p>
		<p><a href="#condiciones" data-toggle="modal">Términos y condiciones</a></p>		
		<p><a href="#horarios" data-toggle="modal">Planificación: paso 3 - elección horarios</a></p>
		<p><a href="#paypal-no-informado" data-toggle="modal">Planificación: paso 6 - Paypal sin notificación</a></p>
		<p><a href="#paypal-ok" data-toggle="modal">Planificación: paso 6 - Paypal ok</a></p>
		<p><a href="#planificacion-ejemplo" data-toggle="modal">Planificación: Ejemplo</a></p>
		<p><a href="#sin-actividad" data-toggle="modal">Sin actividad</a></p>
		<p><a href="#creatividad-mas-de-ti" data-toggle="modal">Creatividad: más info sobre tí</a></p>
		<p><a href="#produccion-mas-de-ti" data-toggle="modal">Producción: más info sobre tí</a></p>
		
	
		<!-- Login popup -->
		<div id="login" class="modal login hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body">
				<form>
					<label>EMAIL</label>
					<input type="text" value="Ejemplo: juan@publienradio.com">
					<label>PASSWORD</label>
					<input type="password">
					<br />
					<input type="submit" class="btn" value="INICIAR SESIÓN ►">
				</form>
				<a href="#">Olvidé mi password</a>
				<div class="ms-register">
					<p>¿no dispones de una cuenta?</p>
					<a href="#" class="italic">REGISTRATE AHORA!</a>
				</div>
			</div>
		</div>
		<!-- /.Login popup -->
	
		<!-- Mis campañas: Aviso completar datos popup -->
		<div id="confirm" class="modal ms hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body clearfix">
				<span class="ico pencil"></span>
				<p>Para que podamos conseguir los mejores valores para tu planificación debes terminar de completar los datos de tu campaña.</p>
				<a href="#" class="btn btn-large pull-right">COMPLETAR DATOS DE CAMPAÑA ►</a>
			</div>
		</div>
		<!-- /.Mis campañas: Aviso completar datos popup -->
		
		<!-- Mis campañas: Paypal popup -->
		<div id="warning-complete" class="modal ms hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body">
				<span class="ico ok-big"></span>
				<h2>CONFIRMAMOS:</h2>
				<p class="italic">TU PAGO EN PAYPAL HA SIDO RECIBIDO EXITOSAMENTE!</p>
			</div>
		</div>
		<!-- /.Mis campañas: Paypal popup -->
	
		<!-- Detalle campaña: espacios-elegidos popup -->
		<div id="espacios-elegidos" class="modal espacios hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body">
				<div class="row-fluid item">
					<div class="span2" >
						<img src="img/img-radio.png" width="85" height="85">
					</div>
					<div class="span7" >
						<p><strong>HORARIO:</strong> 10 a 11 HS | LUN-VIER</p>
						<p><strong>PROGRAMA:</strong> “Hablemos de futbol"</p>
						<p><strong>LUGAR:</strong> Cataluña - España</p>
						<p><strong>CUÑAS:</strong> 2 &nbsp; <strong>TIEMPO:</strong> 10´</p>
					</div>
					<div class="span3">
						<div class="total">
							<p>TOTAL</p>
							<p><span class="tarifa">€5.000</span></p>
							<p class="descuento">C/ DESCUENTO</p>
							<p><span class="tarifa descuento">€5.000</span></p>
						</div>
					</div>
				</div>
				
				<div class="row-fluid item">
					<div class="span2" >
						<img src="img/img-radio.png" width="85" height="85">
					</div>
					<div class="span7" >
						<p><strong>HORARIO:</strong> 10 a 11 HS | LUN-VIER</p>
						<p><strong>PROGRAMA:</strong> “Hablemos de futbol"</p>
						<p><strong>LUGAR:</strong> Cataluña - España</p>
						<p><strong>CUÑAS:</strong> 2 &nbsp; <strong>TIEMPO:</strong> 10´</p>
					</div>
					<div class="span3">
						<div class="total">
							<p>TOTAL</p>
							<p><span class="tarifa">€5.000</span></p>
							<p class="descuento">C/ DESCUENTO</p>
							<p><span class="tarifa descuento">€5.000</span></p>
						</div>
					</div>
				</div>
				
				<div class="row-fluid item">
					<div class="span2" >
						<img src="img/img-radio.png" width="85" height="85">
					</div>
					<div class="span7" >
						<p><strong>HORARIO:</strong> 10 a 11 HS | LUN-VIER</p>
						<p><strong>PROGRAMA:</strong> “Hablemos de futbol"</p>
						<p><strong>LUGAR:</strong> Cataluña - España</p>
						<p><strong>CUÑAS:</strong> 2 &nbsp; <strong>TIEMPO:</strong> 10´</p>
					</div>
					<div class="span3">
						<div class="total">
							<p>TOTAL</p>
							<p><span class="tarifa">€5.000</span></p>
							<p class="descuento">C/ DESCUENTO</p>
							<p><span class="tarifa descuento">€5.000</span></p>
						</div>
					</div>
				</div>
				
				<div class="row-fluid item">
					<div class="span2" >
						<img src="img/img-radio.png" width="85" height="85">
					</div>
					<div class="span7" >
						<p><strong>HORARIO:</strong> 10 a 11 HS | LUN-VIER</p>
						<p><strong>PROGRAMA:</strong> “Hablemos de futbol"</p>
						<p><strong>LUGAR:</strong> Cataluña - España</p>
						<p><strong>CUÑAS:</strong> 2 &nbsp; <strong>TIEMPO:</strong> 10´</p>
					</div>
					<div class="span3">
						<div class="total">
							<p>TOTAL</p>
							<p><span class="tarifa">€5.000</span></p>
							<p class="descuento">C/ DESCUENTO</p>
							<p><span class="tarifa descuento">€5.000</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /.Detalle campaña: espacios-elegidos datos popup -->
	
		<!-- horarios popup -->
		<div id="horarios" class="modal emisora hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<h2>Emisora: rock FM</h2>
			<div class="modal-body">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
				<tr class="main-th">
					<th scope="col" width="16%" class="dark">&nbsp;</th>
					<th scope="col" width="28%">LUNES A VIERNES</th>
					<th scope="col" width="28%" class="light">SABADO</th>
					<th scope="col" width="28%">DOMINGO</th>
				</tr>
				<tr>
					<th scope="row"><a href="#">6:00 - 7:00</a></th>
					<td>&nbsp;</td>
					<td>MÚSICA Y LETRA</td>
					<td>TIRANDO A FALLAR</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">7:00 - 8:00</a></th>
					<td>&nbsp;</td>
					<td class="osc">PALABRAS MAYORES</td>
					<td class="osc">PALABRAS MAYORES</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">8:00 - 9:00</a></th>
					<td>&nbsp;</td>
					<td>SIN COMPLEJOS</td>
					<td>SIN COMPLEJOS</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">9:00 - 10:00</a></th>
					<td class="active">ES LA MAÑANA</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">10:00 - 11:00</a></th>
					<td class="active">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">11:00 - 12:00</a></th>
					<td>&nbsp;</td>
					<td class="osc">JUNGLA DE ASFALTO</td>
					<td class="osc">JUNGLA DE ASFALTO</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">12:00 - 13:00</a></th>
					<td class="osc">DÉJATE DE HISTORIAS</td>
					<td>ES LA MAÑANA FS</td>
					<td>ES LA MAÑANA FS</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">13:00 - 14:00</a></th>
					<td class="osc">&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">14:00 - 15:00</a></th>
					<td>ES NOTICIA</td>
					<td class="osc">ECONOMÍA PARA TODOS</td>
					<td class="osc">MÚSICA Y LETRA</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">15:00 - 16:00</a></th>
					<td class="osc">FÚTBOL ES RADIO</td>
					<td>ES SALUD</td>
					<td>ES SALUD</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">16:00 - 17:00</a></th>
					<td>&nbsp;</td>
					<td class="osc">TIRANDO A FALLAR</td>
					<td class="osc">ES MODA</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">17:00 - 18:00</a></th>
					<td>EN CASA DE HERRERO</td>
					<td>LA LIGA DE RADIO</td>
					<td>ES TOROS</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">18:00 - 19:00</a></th>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="osc">LA LIGA DE RADIO</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">19:00 - 20:00</a></th>
					<td class="osc">A TODA SALUD</td>
					<td>&nbsp;</td>
					<td class="osc">&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">20:00 - 21:00</a></th>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="osc">&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">21:00 - 22:00</a></th>
					<td>ES LA NOCHE</td>
					<td>&nbsp;</td>
					<td class="osc">&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">22:00 - 23:00</a></th>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td class="osc">&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">23:00 - 24:00</a></th>
					<td>&nbsp;</td>
					<td class="osc">GOLES CON PARRADO</td>
					<td class="osc">&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">24:00 - 1:00</a></th>
					<td class="osc">ES AMOR</td>
					<td>LD LIBROS</td>
					<td class="osc">&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">1:00 - 2:00</a></th>
					<td class="osc">&nbsp;</td>
					<td class="osc">COWBOYS DE MEDIANOCHE</td>
					<td class="osc">&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">2:00 - 3:00</a></th>
					<td class="osc">&nbsp;</td>
					<td>ES MÚSICA</td>
					<td>FINALES NBA</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">3:00 - 4:00</a></th>
					<td>ES MÚSICA</td>
					<td class="osc">SIN COMPLEJOS R</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">4:00 - 5:00</a></th>
					<td class="osc">TIEMPO EXTRA</td>
					<td class="osc">&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<th scope="row"><a href="#">5:00 - 6:00</a></th>
					<td>LO MEJOR DE CÉSAR VIDAL</td>
					<td>LA ROSA DE LOS VIENTOS</td>
					<td class="osc">ES MÚSICA</td>
				</tr>
			</table>
			
			<a href="#" data-dismiss="modal" class="ok-big"></a>
	
			</div>
		</div>
		<!-- /.horarios popup -->
	
		<!-- Registracion popup -->
		<div id="registracion" class="modal ms registracion hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body clearfix">
				<h2>REGISTRATE <br />
				<span class="italic">EN POCOS PASOS! </span></h2>
				<div class="row-fluid">
							
					<div class="span12">				
						<div class="row-fluid">
							<div class="span6">
								<label>NOMBRE</label>
								<input type="text">
							</div>
							<div class="span6">
								<label>APELLIDO</label>
								<input type="text">
							</div>
						</div>
					
						<div class="row-fluid">
							<div class="span6">
								<label>EMAIL</label>
								<input type="text">
							</div>
							<div class="span6">
								<label>REPITE EMAIL</label>
								<input type="text">
							</div>
						</div>
					
						<div class="row-fluid">
							<div class="span6">
								<label>PASSWORD</label>
								<input type="text">
							</div>
							<div class="span6">
								<label>REPITE PASSWORD</label>
								<input type="text">
							</div>
						</div>
					
						<div class="row-fluid">
							<div class="span8">
								<span class="txt-captcha">CAPTCHA 9HG2DA1 <input type="text" class="captcha">	</span>		
							</div>
							<div class="span4 text-right">
								<input type="submit" class="btn pull-right" value="REGISTRARME ►">
							</div>
						</div>
					
						<div class="row-fluid">
							<div class="span8">
								<input type="checkbox"> <a href="#condiciones" data-toggle="modal">ACEPTO LAS CONDICIONES DE USO</a>
							</div>
							<div class="span4 text-right">
								<a href="#" class="block">O INICIAR SESIÓN </a>
							</div>
						</div>
						
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- /.Registracion popup -->
	
		<!-- Registracion ok popup -->
		<div id="registracion-ok" class="modal ms gracias hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body clearfix">
				<span class="ico ok-big"></span>
				<h2>GRACIAS <i>POR REGISTRARTE!</i></h2>
				<p>En segundos recibirás, en el email indicado, la información
	para activar tu cuenta y poder acceder a <strong>PUBLIENRADIO</strong>.</p>
			</div>
		</div>
		<!-- /.Registracion ok popup -->
		
		<!-- Activacion cuenta popup -->
		<div id="activacion-ok" class="modal ms gracias hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body clearfix">
				<span class="ico ribbon"></span>
				<p>Acabas de activar tu cuenta en PUBLIENRADIO<br />
				ya estás listo para generar tu propio presupuesto.</p>
				<p class="text-center"><a href="#" class="btn btn-large">CREAR CAMPAÑA ►</a></p>
			</div>
		</div>
		<!-- /.Activacion cuenta popup -->
		
		<!-- condiciones popup -->
		<div id="condiciones" class="modal condiciones hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body clearfix">
				<div class="scroll-content">
					<h2>Condiciones de uso</h2>
					<h3>1. Precios y pagos</h3>
					<ul>
						<li>El tiempo de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago.</li>
					</ul>
					<h3>2. Modalidades de uso </h3>
					<ul>
						<li>El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir. El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir.</li>
						<li>El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir.</li>
						<li>El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir. El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir.</li>
					</ul>
					<h3>3. Privacidad</h3>
					<ul>
						<li>El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago realización del pago realización del pago realización del pago realización del pago realización del pago realización del pago realición del pago máximo en días hábiles realización pago realización del pago.</li>
					</ul>
					<h3>4. Anulaciones</h3>
					<ul>
						<li>El tiempo de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago.</li>
						<li>El tiempo de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago.</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /.condiciones popup -->
		
		<!-- Paypal popup -->
		<div id="paypal-ok" class="modal ms info hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body">
				<span class="ico ok-big"></span>
				<h2>CONFIRMAMOS:</h2>
				<p class="italic">TU PAGO EN PAYPAL HA SIDO RECIBIDO EXITOSAMENTE!</p>
			</div>
		</div>
		<!-- /.Paypal popup -->
		
		<!-- Paypal no informado popup -->
		<div id="paypal-no-informado" class="modal ms info hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body">
				<span class="ico sofa"></span>
				<h2>TE INFORMAMOS:</h2>
				<p class="italic">EL PAGO NO HA SIDO <br/> INFORMADO DESDE PAYPAL AÚN.</p>
			</div>
		</div>
		<!-- /.Paypal no informado popup -->
		
		<!-- Sin actividad popup -->
		<div id="sin-actividad" class="modal ms iddle hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<span class="ico clock"></span>
			<div class="modal-body clearfix">
				<h2>NO HEMOS DETECTADO NINGUNA ACCIÓN EN ESTE TIEMPO</h2>
				<p>¿Haz tenido algún problema en el proceso?</p>
				<p class="text-center">	<a href="#" class="btn btn-large">CONSULTANOS ►</a> </p>
			</div>
		</div>
		<!-- /.Sin actividad popup -->
	
		<!-- Producción: Más de ti popup -->
		<div id="produccion-mas-de-ti" class="modal ms-big hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body clearfix">
				<h2><span class="ico ok pull-left"></span> “Para poder crear tu cuña de radio,<br /> necesitamos saber un poco más de ti..”</h2>
				<br />
				<p><strong>"Por favor, indícanos los matices que consideres importantes, como pueden ser:</strong></p>
	
				<p>Si quieres música o no, y en su caso, qué tipo de música, si quieres algún efecto de sonido, o matiz lingüístico, (si es un dialecto, o tipo de acento especial), número de locutores, sexo, etc y cualquier otra cuestión que te parezca interesante (aunque creas que no es importante, nos puede ayudar a que el resultado se adapte mejor a tus gustos), en cualquier caso, 
	nosotros te contaremos nuestra recomendación.</p>
			</div>
		</div>
		<!-- /.Producción: Más de ti popup -->
	
		<!-- Creatividad: Más de ti popup -->
		<div id="creatividad-mas-de-ti" class="modal ms-big hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body clearfix">
				<h2>“Para poder crear tu cuña de radio, necesitamos saber un poco más de ti..”</h2>
	
				<p><strong>A qué te dedicas?</strong> No siempre como tu te ves, es como te ven los demás, por eso es 
	importante intentar ser objetivo, define tu actividad, con palabras claras y en muy 
	pocas líneas; no es necesario que busques tecnicismos.</p>
	
				<p><strong>A quién quieres dirigirte?</strong> Hombres, mujeres o ambos?, de qué edad? Jóvenes, mayores, todas las edades, o un publico muy concreto??, si es así dinos cuál por favor, de qué clase social??, alta, baja, media, todas?, todos los datos que nos puedas dar, nos ayudará a buscar una comunicación que te identifique con tu público objetivo.</p>
	
				<p><strong>Qué anuncio de radio o la publicidad de qué anunciante, te gustaría que fuera tuya? </strong> con qué tono te encuentras más cómodo? Humor, testimonial, institucional, muy serio… o con cuál no te encuentras cómodo?</p>
	
				<p><strong>Qué valores de tu producto o servicio,</strong> crees que son relevantes o diferenciales, respecto a la competencia, el precio, los años de experiencia/antigüedad, la distribución, la rapidez, la innovación, la profesionalidad? Por qué un cliente debería escoger tu producto o servicio, frente a los demás…</p>
	
				<p><strong>Quieres contarnos algo más</strong> que consideras interesante para que lo tengamos en cuenta, o que debamos incluir obligatoriamente?? Música?, palabras concretas?, tienes una pequeña idea, y quieres que trabajemos sobre ella? En que idioma la quieres??</p>
				<a href="#" data-dismiss="modal" class="ico ok pull-right"></a>
			</div>
		</div>
		<!-- /.Creatividad: Más de ti popup -->
	
		<!-- Planificación: Ejemplo -->
		<div id="planificacion-ejemplo" class="modal planificacion-ejemplo hide fade">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="modal-body clearfix text-center">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th scope="col" colspan="31" class="text-center">ENERO</th>
				</tr>
				<tr>
					<th scope="col">1</th>
					<th scope="col">2</th>
					<th scope="col">3</th>
					<th scope="col">4</th>
					<th scope="col">5</th>
					<th scope="col">6</th>
					<th scope="col">7</th>
					<th scope="col">8</th>
					<th scope="col">9</th>
					<th scope="col">10</th>
					<th scope="col">11</th>
					<th scope="col">12</th>
					<th scope="col">13</th>
					<th scope="col">14</th>
					<th scope="col">15</th>
					<th scope="col">16</th>
					<th scope="col">17</th>
					<th scope="col">18</th>
					<th scope="col">19</th>
					<th scope="col">20</th>
					<th scope="col">21</th>
					<th scope="col">22</th>
					<th scope="col">23</th>
					<th scope="col">24</th>
					<th scope="col">25</th>
					<th scope="col">26</th>
					<th scope="col">27</th>
					<th scope="col">28</th>
					<th scope="col">29</th>
					<th scope="col">30</th>
					<th scope="col">31</th>
				</tr>
				<tr>
					<th scope="col">X</th>
					<th scope="col">J</th>
					<th scope="col">V</th>
					<th scope="col">S</th>
					<th scope="col">D</th>
					<th scope="col">L</th>
					<th scope="col">M</th>
					<th scope="col">X</th>
					<th scope="col">J</th>
					<th scope="col">V</th>
					<th scope="col">S</th>
					<th scope="col">D</th>
					<th scope="col">L</th>
					<th scope="col">M</th>
					<th scope="col">X</th>
					<th scope="col">J</th>
					<th scope="col">V</th>
					<th scope="col">S</th>
					<th scope="col">D</th>
					<th scope="col">L</th>
					<th scope="col">M</th>
					<th scope="col">X</th>
					<th scope="col">J</th>
					<th scope="col">V</th>
					<th scope="col">S</th>
					<th scope="col">D</th>
					<th scope="col">L</th>
					<th scope="col">M</th>
					<th scope="col">X</th>
					<th scope="col">J</th>
					<th scope="col">V</th>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
				<tfoot>
					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
				</tfoot>
			</table>
			<br /><br />
			<table width="85%" border="0" cellspacing="2" cellpadding="0" align="center" class="table-horarios">
				<tr>
					<th scope="col">SOPORTE</th>
					<th scope="col">PROGRAMA</th>
					<th scope="col">DIA</th>
					<th scope="col">FORMATO</th>
					<th scope="col">HORARIO</th>
					<th scope="col">NºINS</th>
					<th scope="col">TARIFA</th>
					<th scope="col" nowrap>BRUTO TARIFA</th>
					<th scope="col" nowrap>NETO NEG</th>
				</tr>
				<tr>
					<td rowspan="3"><img src="img/img-radio.png" width="85" height="85"></td>
					<td nowrap>DÉJATE DE HISTORIAS</td>
					<td nowrap>lun a dom</td>
					<td>CUÑAS 20´</td>
					<td>06 10:00 </td>
					<td>69 </td>
					<td>$ 360</td>
					<td>$ 24.840</td>
					<td>$ 6.210 </td>
				</tr>
				<tr>
					<td>DÉJATE DE HISTORIAS</td>
					<td>lun a dom</td>
					<td>CUÑAS 20´</td>
					<td>06 10:00 </td>
					<td>69 </td>
					<td>$ 360</td>
					<td>$ 24.840</td>
					<td>$ 6.210 </td>
				</tr>
				<tr>
					<td>DÉJATE DE HISTORIAS</td>
					<td>lun a dom</td>
					<td>CUÑAS 20´</td>
					<td>06 10:00 </td>
					<td>69 </td>
					<td>$ 360</td>
					<td>$ 24.840</td>
					<td>$ 6.210 </td>
				</tr>
			</table>


			</div>
		</div>
		<!-- /.Planificación: Ejemplo -->

    </div>
	<!-- /container -->

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mCustomScrollbar.min.js"></script>
	<script>
		$(document).ready(function () {
			$(".scroll-content").mCustomScrollbar();
		});
	</script>

  </body>
</html>
