<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>
            <ul class="nav pull-right">
              <li><a href="#login" role="button" data-toggle="modal"><span class="ico user"></span> INICIAR SESIÓN</a></li>
              <li class="sep"></li>
              <li><a href="contacto.html"><span class="ico contact"></span> CONTACTO</a></li>
              <li class="sep"></li>
              <li><a href="#"><span class="ico help"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
	
	<div class="green">
		<div class="container">
			<div class="section quienes-somos">
				<div class="row-fluid">
					<div class="span4">
						<div class="id-section">
							<div class="icon quienes-somos"></div>
							<h1><span>Quienes</span>
								<span>Somos</span>
							</h1>
							<a href="servicios.html" class="btn">VER SERVICIOS ►</a>
						</div>
					</div>
					<div class="span8 ">
						<div class="text-container">
							<p>Orión Media, se fundó en 1999, desde entonces y enfocada a la especialización en el medio radio, da servicio a anunciantes directos y a agencias de publicidad. Sus servicios, abarcan todas las necesidades posibles de cara a obtener éxito de una campaña en radio.</p>
		
							<p>Nuestra posición de intermediarios en la mayor parte del volumen de compra que manejamos, nos obliga a mantener la discreción, como uno de los pilares en los que se sustenta nuestra Filosofía, no podemos llenar nuestra web de logotipos de clientes para los que hemos o estamos trabajando, nuestro aval son los años que llevamos en activo.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


    <div class="container">

      <div class="main-nav">
		  <div class="row-fluid">
			<div class="span4 active">
				<a href="quienes-somos.html">
					<span class="img-quienes-somos"></span>  <br />
					QUIÉNES  <br />SOMOS
				</a>
			</div>
			<div class="span4">
				<a href="servicios.html">
					<span class="img-servicios"></span> <br />
					SERVICIOS
				</a>
			</div>
			<div class="span4">
				<a href="faq.html">
					<span class="img-faq"></span>  <br />
					PREGUNTAS  <br /> FRECUENTES
				</a>
			</div>
		  </div>
    	</div>
    </div>
	  
	  <div class="footer">
	  	Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
	  </div>

    </div>
	<!-- /container -->
	
	<!-- Login popup -->
	<div id="login" class="modal login hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<form>
				<label>EMAIL</label>
				<input type="text" value="Ejemplo: juan@publienradio.com">
				<label>PASSWORD</label>
				<input type="password">
				<br />
				<input type="submit" class="btn" value="INICIAR SESIÓN ►">
			</form>
			<a href="#">Olvidé mi password</a>
			<div class="ms-register">
				<p>¿no dispones de una cuenta?</p>
				<a href="#" class="italic">REGISTRATE AHORA!</a>
			</div>
		</div>
    </div>
	<!-- /.Login popup -->

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
