<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Publi en radio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

    <!-- Fav -->
    <link rel="shortcut icon" href="img/favicon.png">
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="index.html"></a>
            <ul class="nav pull-right">
              <li><a href="#login" role="button" data-toggle="modal"><span class="ico user"></span> INICIAR SESIÓN</a></li>
              <li class="sep"></li>
              <li><a href="contacto.html"><span class="ico contact"></span> CONTACTO</a></li>
              <li class="sep"></li>
              <li><a href="#"><span class="ico help"></span> </a></li>
            </ul>
        </div>
      </div>
    </div>
	
	<div class="green">
		<div class="container">
			<div class="section servicios">
				<div class="row-fluid">
					<div class="span5 intro">
						<div class="id-section">
							<div class="icon servicios"></div>
							<h1><span>¿Qué</span>
								<span>ofrecemos?</span>
							</h1>
							<p>Somos pioneros en la creación de herramientas de trabajo específico de radio, y las ponemos a disposición de nuestros clientes, de forma gratuita, en la era on line, donde prima el “háztelo tu mismo”, con el fin de ahorrar costes y optimizar tu tiempo. </p>
		
							<p>En esta herramienta podrás calcular fielmente y con la garantía del mejor coste, tu  propia campaña de radio.</p>
						</div>
					</div>
					<div class="span7">
						<div class="text-container">
							<h2><span class="ico planificacion"></span> PLANIFICACIÓN</h2>
							<p>Aquí podrás seleccionar las emisoras, programas y cuñas en donde  realizaremos tu nueva campaña publicitaria.</p>
							<h2><span class="ico creatividad"></span> CREATIVIDAD</h2>
							<p>Gracias a nuestra alianza estratégica con la multipremiada agencia Remo, garantizamos un estándar de calidad para todas las piezas que realizamos.</p>
							
							<h2><span class="ico produccion"></span> PRODUCCIÓN</h2>
							<p>Somos especialistas y realizamos producciones de cuñas a medida. Una producción de calidad requiere de elementos, herramientas y capital humano con una amplia experiencia en el mundo de la comunicación. </p>
							
							<a href="mis-campanas.html" class="btn">CREAR CAMPAÑA ►</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


    <div class="container">

      <div class="main-nav">
		  <div class="row-fluid">
			<div class="span4">
				<a href="quienes-somos.html">
					<span class="img-quienes-somos"></span>  <br />
					QUIÉNES  <br />SOMOS
				</a>
			</div>
			<div class="span4 active">
				<a href="servicios.html">
					<span class="img-servicios"></span> <br />
					SERVICIOS
				</a>
			</div>
			<div class="span4">
				<a href="faq.html">
					<span class="img-faq"></span>  <br />
					PREGUNTAS  <br /> FRECUENTES
				</a>
			</div>
		  </div>
    	</div>
    </div>
	  
	  <div class="footer">
	  	Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
	  </div>

    </div>
	<!-- /container -->
	
	<!-- Login popup -->
	<div id="login" class="modal login hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body">
			<form>
				<label>EMAIL</label>
				<input type="text" value="Ejemplo: juan@publienradio.com">
				<label>PASSWORD</label>
				<input type="password">
				<br />
				<input type="submit" class="btn" value="INICIAR SESIÓN ►">
			</form>
			<a href="#">Olvidé mi password</a>
			<div class="ms-register">
				<p>¿no dispones de una cuenta?</p>
				<a href="#" class="italic">REGISTRATE AHORA!</a>
			</div>
		</div>
    </div>
	<!-- /.Login popup -->

    <!-- Javascript -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
