<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Publi en radio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- styles -->
        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">
        <link href="/css/jquery.mCustomScrollbar.css" rel="stylesheet">

        <!-- Fav -->
        <link rel="shortcut icon" href="/img/favicon.png">
    </head>

    <body>
        {% block layout %}
        {% endblock layout %}
        <!-- /container -->

        {% block popups %}
        {% endblock popups %}

                <!-- Login popup container -->
                <div id="login" class="modal login hide fade">
                </div>
                <!-- /.Login popup container -->

                <!-- Register popup container -->
                <div id="register" class="modal ms registracion hide fade">
                </div>
                <!-- /.Register popup container -->

    <div id="registracion-ok" class="modal ms gracias hide fade" aria-hidden="false" style="display: block; z-index:3000;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <div class="modal-body clearfix">
            <span class="ico ok-big"></span>
            <h2>GRACIAS <i>POR REGISTRARTE!</i></h2>
            <p>En segundos recibirás, en el email indicado, la información
            para activar tu cuenta y poder acceder a <strong>PUBLIENRADIO</strong>.</p>
        </div>
    </div>


        <div id="condiciones" class="modal condiciones hide fade in" aria-hidden="false" style="display: none; z-index:3001;">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="scroll-content modal-body clearfix">
                <div class="scroll-content">
                    <div class="scroll-content" id="" style="position:relative; height:100%; max-width:100%;">
                        <div class="" style="position: relative; top: 0px;">
                            <h2>Condiciones de uso</h2>
                            <h3>1. Precios y pagos</h3>
                            <ul>
                                <li>El tiempo de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago.</li>
                            </ul>
                            <h3>2. Modalidades de uso </h3>
                            <ul>
                                <li>El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir. El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir.</li>
                                <li>El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir.</li>
                                <li>El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir. El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir.</li>
                            </ul>
                            <h3>3. Privacidad</h3>
                            <ul>
                                <li>El tiempo promedio de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago realización del pago realización del pago realización del pago realización del pago realización del pago realización del pago realición del pago máximo en días hábiles realización pago realización del pago.</li>
                            </ul>
                            <h3>4. Anulaciones</h3>
                            <ul>
                                <li>El tiempo de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago.</li>
                                <li>El tiempo de respuesta varía entre las 4 a 12 hs máximo en días hábiles a partir de la realización del pago.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="warning-condiciones" class="modal ms info warning hide fade in" aria-hidden="false" style="display: none; z-index:3002">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-body">
                <span class="ico warning-big"></span>
                <h2>COMPLETAR PARA SEGUIR!</h2>
                <p>ACEPTE LAS CONDICIONES DE USO</p>
            </div>
        </div>

        <!-- Javascript -->
        <script type="text/javascript" src="/js/vendor/jquery.js"></script>
        <script type="text/javascript" src="/js/vendor/bootstrap.js"></script>
        <script type="text/javascript" src="/js/vendor/jquery.mCustomScrollbar.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.0.6/jquery.mousewheel.min.js"></script>

        <script>
            jQuery(window).load(function () {

                $('#nav-home a').hover(
                function(){ $(this).addClass('selected'), $('.main-nav').addClass('selected-menu')},
                function(){ $(this).removeClass('selected'), $('.main-nav').removeClass('selected-menu')}
                )

            });

        </script>

        {% block afterscripts %}
        {% endblock %}

    </body>
</html>
