<div class="container">

    <div class="main-nav">
        <div class="row-fluid">
            <div class="span4">
                <a href="{{ path('b2c_quienes_somos') }}" id="quienes-somos" class="link">
                    <span class="img-quienes-somos"></span>  <br>
                    QUIÉNES  <br>SOMOS
                </a>
            </div>
            <div class="span4">
                <a href="{{ path('b2c_servicios') }}" id="servicios" class="link">
                    <span class="img-servicios"></span> <br>
                    SERVICIOS
                </a>
            </div>
            <div class="span4">
                <a href="{{ path('b2c_faq') }}" id="faq" class="link">
                    <span class="img-faq"></span>  <br>
                    PREGUNTAS  <br> FRECUENTES
                </a>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
</div>
