{% extends 'WOPPubliRadioWebBundle::base.html.twig' %}

{% block layout %}

<div id="footer">
    {% include 'WOPPubliRadioWebBundle::navigation.html.twig' %}
</div>

<div class="green">
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</div>

<div id="footer">
    {% include 'WOPPubliRadioWebBundle::footerservicios.html.twig' %}
</div>
{% endblock layout %}
