<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/"></a>
            <ul class="nav pull-right">

                
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li>
                        <a id="crear-link" href="/campana_creacion"><span id="sesion-texto">CREAR CAMPAÑA</span></a>
                    </li>
                    <li class="sep"></li>
                    <li>
                        <a id="campanias-link" href="/miscampanias"><span id="sesion-texto"> MIS CAMPAÑAS</span></a>
                    </li>
                    <li class="sep"></li>
                    <li>
                        <a id="sesion-link" href="/logout"><span class="ico user"></span><span id="sesion-texto"> CERRAR SESION</span></a>
                    </li>
                {% else %}
                    <li>
                        <a id="sesion-link" href="/login_ajax" role="button" data-toggle="modal" data-target="#login">
                        <span id="inicio-sesion" class="ico user"></span> <span id="sesion-texto">INICIAR SESIÓN</span></a>
                    </li>    

                {% endif %}
                

                <li class="sep"></li>
                <li><a href="{{ path("wop_publiradio_contacto_contactar") }}"><span class="ico contact"></span> CONTACTO</a></li>
                <li class="sep"></li>
                <li><a href="#condiciones" role="button" data-toggle="modal"  ><span class="ico help"></span> </a></li>
            </ul>
        </div>
    </div>
</div>
