
<div class="container">

    <div class="row wizard-nav">
        <span class="uno"></span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
        <span class="cinco"></span>
        <span class="seis"></span>

    </div>

    <div class="footer">
        Todos los derechos reservados 2014 &nbsp; | &nbsp; PubliEnRadio es una herramienta ofrecida por Orion Media &nbsp;| &nbsp; Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a>
    </div>

</div>
