{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block content %}

<div class="row-fluid section campaign selection create">
    <div class="span10">
        <div class="white text-center registracion">

                <form action="{{ path("fos_user_security_check") }}" method="POST">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label for="username">EMAIL
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
</label>

                <label for="password">PASSWORD
                <input type="password" id="password" name="_password" required="required" value="Ejemplo: juan@publienradio.com"/>
</label>


                <label for="remember_me">recordarme
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
</label>

                <input type="submit" class="btn" id="_submit" name="_submit" value="INICIAR SESIÓN" />
            </form>
            <a href="{{ path('fos_user_resetting_request') }}">Olvidé mi password</a>
            <div class="ms-register">
                <p>¿no dispones de una cuenta?</p>
                <a href="{{ path('fos_user_registration_register') }}" class="italic">REGISTRATE AHORA!</a>
            </div>

            <a href="{{ path('b2c_index') }}" class="ico back"></a>
            <span class="pico"></span>
        </div>
    </div>
    <div class="span2">
        <div class="avatar">
            <img src="/img/avatar-big.png" width="111" height="111">
        </div>
    </div>
</div>

{% endblock content %}
