@charset "utf-8";
/* CSS Document */
@import url(fonts.css);


body { font:15px/18px 'chalet-1960'; padding-top:40px }

.navbar { margin-bottom:12px; }
.navbar .nav { margin-top:16px; }
.navbar .nav > li.sep { width:2px; height:45px; background:url(../img/sprite.png) -180px 10px; display:inline-block; }
.navbar .nav > li:last-child { margin-right:-6px }
.navbar .nav > li > a { padding:10px }
.navbar .brand { width:95px; height:95px; background:url(../img/sprite.png) 0 0; display:inline-block; margin-left:36px; }
.green { background:#28B99B; min-height:378px; padding:20px 0 10px 0; margin-bottom:24px; color:#fff; position:relative }
.white { background:#FFF; border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; min-height:335px; padding:20px 47px 10px; color:#747484; position:relative }
.white h1 { color: #747484 }
.italic { font-style:italic; }
.main { padding:44px 80px 0; }
.main h1 { font:38px 'chalet-ny1960'; margin-top:-6px; line-height:38px }
.main .grey { color:#ccc; }
.main p { font:18px 'chalet-paris1960'; padding-top:9px }
.main .btn { font:22px 'chalet-1960'; margin-top:35px }
.main .txt-home { padding: 0 0 0 36px }
.btn-green { background: #1ABC9C; }
.btn-green:hover, .btn-green:focus { background: #0ea37d; }
.txt-green { color: #1ABC9C; }
.txt-big { font-size: 16px; }
.txt-info { font-size:14px; font-style:italic }
.ico-lupa { width:14px; height:14px; background:url(../img/sprite.png) -100px 0; display:inline-block }
.scroll-content { height:230px; overflow:auto }
.scroll-content.small { height:190px; overflow:auto }
.underline { text-decoration: underline; }

/* Top nav bar */
.nav .ico { width:25px; height:25px; display:inline-block; background:url(../img/sprite.png) -150px 0; margin:0 0 -5px }
.nav a:hover .ico { opacity:0.8 }
.nav .ico.contact { background-position: -200px 0;}
.nav .ico.help { background-position: -250px 0;}

/* Nav-bar */
.main-nav { padding:0 48px; }
.main-nav { font:16px 'chalet-ny1960'; text-align:center; }
.main-nav a { color:#898989; }
.main-nav a:hover { color:#3f8296; text-decoration:none; }

.main-nav span { width:120px; height:120px; display:inline-block; background:url(../img/sprite.png) 0 -100px; margin:0 0 10px 0 }
.main-nav .img-quienes-somos { background-position:0 -100px; }
.main-nav a:hover .img-quienes-somos, .main-nav .active a .img-quienes-somos { background-position:0 -250px; }
.main-nav .img-servicios { background-position:-150px -100px; }
.main-nav a:hover .img-servicios, .main-nav .active a .img-servicios { background-position:-150px -250px; }
.main-nav .img-faq { background-position:-300px -100px; }
.main-nav a:hover .img-faq, .main-nav .active a .img-faq { background-position:-300px -250px; }

/* popups */
.modal { color:#fff; }

.modal.login { width:300px; margin-left:-150px }
.modal.login .modal-body { padding:35px }
.modal.login label { font-size:17px }
input[type=text], input[type=password], textarea { background: #DBDBEA; color:#9797A5; font-family:'chalet-paris1980'; }
.modal .close { position:absolute; top:-30px; right:0px; width:24px; height:24px; display:inline-block; background:url(../img/sprite.png) -300px 0; opacity:1 }
.modal .close:hover, .modal .close:focus { opacity:0.8 }
.modal a { color:#FFF; text-decoration: underline; }

.espacios { background:#DBDBEA; color:#646472; }
.espacios .modal-body { padding:20px 30px; }
.espacios .modal-body p { font-size:12px; margin:0 0 1px }
.espacios .total { border-left: 1px solid #B9B9C8; padding:0 0 0 15px; font-size:11px; border-top:none; width:auto; }
.espacios .descuento { color:#009999; }
.espacios .tarifa.descuento { color:#009999; border:1px dotted #009999; }
.espacios img { border: 1px solid #A8A8B7; }
.espacios .item { margin:0 0 30px; }
.espacios .item:last-child { margin:0; }

.ms-register { color:#D9D9EA; margin:20px 0 0 0; border-top:1px solid #D9D9EA; padding:10px 0 0 0 }
.ms-register p { margin:0 }
.ms-register a { color:#D9D9EA; font-size:13px; }

.ms { width:620px; margin-left:-340px; font-size:18px; line-height:22px; }
.ms .modal-body { padding:30px; }
.ms h2  { font: 20px/20px 'chalet-1960'; margin-bottom:8px }

.ms-big { width:820px; margin-left:-450px; font-size:16px; line-height:20px; color:#D8D8EA; }
.ms-big .modal-body { padding:30px; max-height:440px }
.ms-big h2  { font: bold 18px/18px 'chalet-1960'; margin-bottom:8px }
.ms-big .ico.ok { width:70px; height:70px; display:inline-block; background:url(../img/sprite.png) -200px -400px; z-index:99999; margin-top:-20px }

/* Icons ms popups */
.ms .ico { width:120px; height:120px; display:inline-block; background:url(../img/sprite.png) -300px -750px; z-index:99999 }
.ms .ico.pencil { background-position: -300px -750px; float:left; margin-right:20px; }
.ms .ico.ok-big { background-position: 0px -650px; float:left; margin-right:20px; height:100px }
.ms .ico.sofa { background-position: -450px -750px; float:left; margin-right:20px; height:120px; width:120px }
.ms .ico.ribbon { background-position: -200px -500px; float:left; margin-right:20px; height:110px; width:60px; margin-top:-30px }
.ms .ico.clock { background-position: -150px -650px; margin-right:20px; height:88px; width:88px; position:absolute; top:-40px; left:-40px; }
.ms.registracion a { color:#D9D9EA; font-style:italic; font-size:12px; }

.condiciones { background:#fff; width:820px; margin-left:-450px; color:#858593; }
.condiciones p { font-size:15px; }
.condiciones h2 { font:38px 'chalet-ny1960'; }
.condiciones h3 { font:bold 15px arial; margin-top:10px; }
.condiciones .modal-body { padding:30px; max-height:440px }
.condiciones .scroll-content { height: 380px }


/* Sections */
.section h1 { font:38px/36px 'chalet-paris1960'; letter-spacing: 0em }
.section .id-section h1 { font:40px/40px 'chalet-paris1960'; letter-spacing: 0.02em }
.section h1 span { background:#24a68b; margin:0 0 6px; display:inline-block; padding:0px 4px }

.section-faq { padding:20px 0 0 0 }
.section-faq .id-section { padding:0 14px 0 0 }
.controls { text-align:center }
.arrow { width:20px; height:10px; background:url(../img/sprite.png) -150px -50px; display:inline-block; }
.arrow.up { background:url(../img/sprite.png) -200px -50px; }
.emisoras .controls { width:30px; height: 100px; position:absolute; display:inline-block; right:16px; top:130px }
.arrow { width:30px; height:30px; background:url(../img/sprite.png) -750px -150px; display:inline-block; }
.arrow.up { background:url(../img/sprite.png) -750px -100px; margin-bottom:20px }
.arrow.down { background:url(../img/sprite.png) -750px -150px; }
.arrow:hover { opacity:0.8 }

.section .icon { display:block; background:url(../img/sprite.png); }
.section .icon.faq { width:77px; height:63px; background-position:-650px -100px; display:inline-block; margin-top:83px }
.section .icon.servicios { width:70px; height:52px; background-position:-550px -100px; position:absolute; left:200px; margin-top:-5px }
.section .icon.quienes-somos { width:70px; height:96px; background-position:-450px -100px; margin-left:84px }

.section.quienes-somos { padding: 22px 0 0 0 }
.quienes-somos .id-section { padding:32px 0 0 75px; }
.quienes-somos .id-section .btn { padding:8px 20px; margin-top:30px; }
.quienes-somos .text-container { border-left:1px solid #78c8bf; padding: 0 50px 0 30px; margin-top:50px  }
.quienes-somos p { font: 18px/22px 'chalet-paris1960'; margin:0 0 30px }

.section.servicios { padding: 20px 0 0 0;}
.section.servicios .id-section { padding:8px 0 0 75px; position: relative }
.servicios .text-container { padding-left:68px }
.servicios h2  { font: 20px/20px 'chalet-1980'; margin-bottom:0 }
.servicios p { color:#D8D8EA; margin-bottom:30px }
.servicios .intro p { font: 15px/18px 'chalet-1960'; color:#D8D8EA; margin-bottom:10px }
.servicios .ico { width:57px; height:57px; background:url(../img/sprite.png) -450px -250px; display:inline-block; position:absolute; margin-left:-68px; }
.servicios .ico.planificacion { background-position: -450px -250px; }
.servicios .ico.creatividad { background-position: -550px -250px; }
.servicios .ico.produccion { background-position: -650px -250px; }

.contacto .address { font:12px arial; color:#D8D8EA; margin:0 }
.contacto .address a { color:#D8D8EA; }
.contacto .address p { margin:0 }
.contacto input[type=text] { width:auto; background:#2ED1B0; color:#FFF; border-color:#DBDBEA }
.contacto textarea { width:340px; background:#2ED1B0; color:#FFF; border-color:#DBDBEA }
input.captcha { background:#D6D6D6; color:#666; width: 100px; display:inline-block;}
.txt-captcha { font-size:14px; }
.contacto .dir { padding-left:100px; margin-bottom:50px }
.contacto .ico { width:75px; height:75px; background:url(../img/sprite.png) 0 -400px; display:inline-block; position:absolute; margin-left:-100px; }
.contacto .ico.dir-uno { background-position: 0 -400px; }
.contacto .ico.dir-dos { background-position: -100px -400px; }

.num { background:#24a68b; color:#D9D9EA; width:32px; height:32px; display:inline-block; text-align:center; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; font:20px'chalet-1980'; float:left; margin-right:10px; line-height:30px }

.faq-container { height:300px; overflow:auto; margin:0 0 0 40px }
.accordion-group { padding:8px 0 }
.accordion-heading .accordion-toggle { padding:8px 15px 8px 0px }
.accordion-inner { padding: 0 15px 15px 43px }
.accordion a { color:#D9D9EA; }
.accordion a:focus { text-decoration:none; }
.accordion a:hover { color:#fff; text-decoration:none; }

/* Campaigns */
.section.campaign { position:relative; }
.section.campaign.create .white { /*margin: -5px 28px 0 54px;*/ padding-top:14px }
.section.campaign.create .selection { padding:35px 10px 0; }
.campaign.forms .white { font-size:18px; margin:15px 28px 0 54px; min-height:315px; }
.forms .span10 .row-fluid .span6 { width:46.9083% }
.campaign.selection.create h1 { font:38px 'chalet-paris1960'; margin-top:0px }
.campaign .white { margin: -5px 38px 0; }
.campaign .mis-campanas { padding:0 110px 0 80px }
.campaign .mis-campanas .date { font:19px 'chalet-paris1980'; margin-top:12px }
.campaign .white textarea { width:444px; max-width:444px; }
.campaign .img-clip { width: 142px; height: 126px; background:url(../img/sprite.png) 0px -500px; display:inline-block; position:relative }
.campaign .ico { width: 42px; height: 42px; background:url(../img/sprite.png) 0px -400px; display:inline-block; position:absolute; bottom:-5px; margin-left:50px }
.campaign .ico.ok { background-position: -400px 0px; }
.campaign .ico.whait { background-position: -450px 0px; }
.campaign .ico.cancel { background-position: -500px 0px; }
.campaign .status { color: #1ABC9C; font-weight:bold }
.ico.back { background-position: -350px 0px; position:absolute; bottom: 5px; left:0 }
.ico.back:hover { opacity:0.6 }
.comments-link { position:absolute; top:20px; right:40px; color:#28B99B; text-decoration:underline }
.ico-comments { width:28px; height:28px; display:inline-block; background:url(../img/sprite.png) -550px 0px; margin:0 0 -7px 5px; }
.comments-link .num { background:#FF4D4D; border:2px solid #FFF; width:16px; height:16px; color:#FFF; font-size:12px; right:-22px; line-height:14px; }
.campaign h2 { font: 16px/16px 'chalet-ny1960'; color:#575859; }
.campaign a { text-decoration: none; }
.dashed-line { background: url(../img/bg-dashed-line.gif) right top repeat-y; }
.pico { background: url(../img/sprite.png) -700px 0px; width:15px; height:24px; display:inline-block; position:absolute; right:-12px; top:33px }
.campaign .note { width:115px; height:141px; display:inline-block; background:url(../img/img-note.png) no-repeat; position:absolute; top:-13px; right:10px; padding:70px 22px 0px 13px; font:bold 13px arial; }
.campaign .note a { color:#27B89A; text-decoration:underline; }
.campaign .note a:hover { text-decoration:none; }
.campaign label { font-weight:bold }
.campaign .info-text { color:#FFF; text-align:center; font: 12px 'chalet-paris1960'; margin-left:-10px; padding: 20px 16px 0 0;  }
.campaign input.btn[type="submit"].pull-right { margin-right:22px }

.campaign .icon { width: 116px; height: 116px; background:url(../img/sprite.png) 0px -750px; display:inline-block; }
.campaign .icon.yo-mismo { background-position: 0px -900px; } 
.campaign a:hover .icon.yo-mismo, .campaign .icon.yo-mismo:focus { background-position: 0px -750px; }
.campaign .icon.presupuestame { background-position: -150px -900px; }
.campaign a:hover .icon.presupuestame, .campaign .icon.presupuestame:focus { background-position: -150px -750px; }

.campaign .icon-big { width: 130px; height: 130px; background:url(../img/sprite.png) -300px -550px; display:inline-block; }
.campaign .icon-big.planificacion { background-position: -300px -550px; }
.campaign a:hover .icon-big.planificacion { background-position: -300px -400px; }
.campaign .icon-big.creatividad { background-position: -450px -550px; }
.campaign a:hover .icon-big.creatividad { background-position: -450px -400px; }
.campaign .icon-big.produccion { background-position: -600px -550px; }
.campaign a:hover .icon-big.produccion { background-position: -600px -400px; }

.campaign.selection .white { font-size:18px; margin:15px 28px 0 54px; min-height:315px; }
.campaign.selection .white [class*="span"] { min-height:200px; }
.campaign.selection h1 { font:25px 'chalet-paris1960'; margin:5px 0 10px 0;}
.campaign.selection h1 strong { font-family: 'chalet-ny1960'; font-weight:normal}
.campaign.produccion h1, .campaign.creatividad h1 { font:25px 'chalet-1960'}
.campaign.selection a h2 { color:#a4a5a5; }
.campaign.selection a:hover h2 { color:#575859; }
.campaign.selection h3 { font-size:18px; font-weight:normal; color:#27B89A; text-decoration: underline; margin-top:0 }
.campaign .ok { width:38px; height:38px; display:inline-block;  background:url(../img/sprite.png) -750px 0px; }
.campaign .ver-link { color:#128B67; display:inline-block; font:12px arial; text-decoration:underline; width:95px; position:absolute; bottom:25px; right:55px; background:url(../img/sprite.png) -750px -250px no-repeat; padding:6px 0 0 0 }
.campaign.paypal .txt-container { padding:0 30px 0 0 }
.campaign.paypal .total { border-top:none; margin: -13px 0 15px }
.campaign.paypal .total .tarifa { color:#1ABC9C; border:none }
.line-right { border-right: 1px solid #ccc}
.siguiente-link { color: #00D900; font:14px 'chalet-1980'; position:absolute; right:30px; bottom:30px;}
.next, .checked { width:25px; height:25px; display:inline-block; background:url(../img/sprite.png) -350px -50px; margin:0 0 -7px 3px  }
.avatar { margin:15px 0 0 -12px }
.avatar h3 { font-size:18px; font-weight:bold; color:#D9D9EA !important; text-decoration: none !important; margin:0 0 -8px 5px !important }
.avatar ul { margin:0 0 0 5px }
.checked { background-position: -650px -50px; position:absolute; left:-4px  }
.checkbox-container { margin:12px 0 10px 20px }
.styledCheckbox { display:inline-block; margin:0 0 -4px 7px}

.emisoras-container a { border:5px solid #FFF; display:inline-block; margin:0 0 4px 0 }
.emisoras-container a.active, .emisoras-container a:hover { border:5px solid #61DF61; }
.emisoras-container img { border: 1px solid #A8A8B7; }

.total { border-top:1px dashed #535362; display:block; padding:10px 0 0 0; font-size:13px; width:400px }
.total p { font-size:12px; }
.qty { text-align:center}
.qty .btn-light { width:49px !important; display:inline-block; margin:0px; border-left:none !important; padding:3px 0 }
.btn-num { color: #1ABC9C; border:1px solid #1ABC9C; font-size:14px; width:30px; display:inline-block; padding:0 0 0 5px; text-align:left; position:relative }
.arrows { width:10px; display:inline-block; margin:3px 0 -3px 5px; padding:0; position:absolute; right:2px }
.arrows .arrow { width:7px; height:7px; display:block; background:url(../img/sprite.png) -750px 0px; border:none; margin:0 }
.arrows .arrow.down { background-position: -750px -50px; margin-top:2px }
.arrows .arrow:hover { border:none; opacity:0.8 }

.modal.emisora { background:transparent; width:700px; margin-left:-350px; box-shadow:none;}
.modal.emisora .close { top:8px; right:15px; }
.modal.emisora .modal-body { max-height:600px}
.modal.emisora h2 { text-align:center; text-decoration:underline; font-style:italic; font-size:18px; margin:0px;}
.modal.emisora .table { background:#ECECFB; color:#646473; } 
.modal.emisora .table th { font-weight:normal; background:#F05B5D; color:#DBDBEA }
.modal.emisora tbody > tr:nth-child(2n+1) > th { background:#F68E88; color:#FAFAFA }
.modal.emisora .main-th th { background:#9797A6 !important; text-align:center; border-top:none; border-right-color:#9797A6 }
.modal.emisora .main-th th.light { background:#A8A8B7 !important; }
.modal.emisora .main-th th.dark { background:#646473 !important; }
.modal.emisora .table td { text-align:center;  font-size:11px }
.modal.emisora .table td.active { background:#92ec9b }
.modal.emisora .table td.osc { background:#dbdbea; }
.modal.emisora .ok-big { width:45px; height:45px; background:url(../img/sprite.png) -650px 0px; display:inline-block; float:right; }
.modal.emisora .ok-big:hover { opacity: 0.8}

.modal.planificacion-ejemplo { background:transparent; width:850px; margin-left:-420px; box-shadow:none;}
.modal.planificacion-ejemplo table th { background:#A8A8B7; color:#D8D8EA; font-weight:normal; font-size:13px; border-top:1px solid #666; border-right:1px solid #666; }
.modal.planificacion-ejemplo table th:last-child { border-right:none; }
.modal.planificacion-ejemplo table td { background:#ECECFB; border-top:1px dashed #ccc; border-right:1px dashed #ccc; min-width:3.2%;  color:#646472; font-size:11px}
.modal.planificacion-ejemplo table td:last-child { border-right:none; }
.modal.planificacion-ejemplo table tfoot td { background:#DBDBEA; }

.table-horarios td, .table-horarios th { border-right:2px solid #333 !important; padding:2px }
.table-horarios img { max-width:53px; }


ul { list-style:none; margin:0px; padding:0px }
li { vertical-align:top; }
.selector a { display:block; padding:15px 17px 15px 5px; border-bottom:1px solid #ccc; color:#878787; position:relative;  }
.selector a:hover { background:#f4f4f4 }
.selector li:last-child a { border-bottom:none; }
.selector .active a { border-right:13px solid #6DD900; padding:15px 5px 15px 5px;  }

.selector.dos a { display:block; padding:10px 0 10px 5px; border-bottom:none; color:#878787 }

.horarios li { display:inline-block; width:100px; text-align:center }
.horarios li img { margin-bottom:4px }
.btn-light { color:#27B89A; border:1px solid #27B89A !important; font:12px 'chalet-paris1980'; padding:2px 0; display:block; width:85px; text-align:center; }
.btn-light:hover { color:#fff; background: #27B89A; }
.btn-light.grey { color:#9797A6; border-color: #9797A6 !important; }
.btn-light.grey:hover { color:#9797A6; background:#FFF; }

.resumen li { border-bottom:1px solid #229F86; color:#646472; font-size:10px; width:110px; padding:2px 0 }
.resumen li:last-child { border-bottom:none; }
.resumen li span { color:#FFF; text-decoration:underline; font-style:italic; }

/* campaign wizard */
.wizard-nav { background:url(../img/sprite-wizard.png) 0 15px no-repeat; width:678px; height:93px; display:inline-block; margin-left:54px; margin-top:-5px; position:relative }
.wizard-nav.on { background-position:0 -100px }
.wizard-nav span { width:42px; height:93px; display:inline-block; }
.wizard-nav a { display:inline-block; width:67px; height:93px; position:relative; margin:0 48px 0 0}

.wizard-nav span.uno.on { background:url(../img/sprite-wizard.png) -200px -200px; width:67px; margin-top:-14px } 
.wizard-nav span.dos.on { background:url(../img/sprite-wizard.png) -300px -200px; width:66px; } 
.wizard-nav span.tres.on { background:url(../img/sprite-wizard.png) -400px -200px; width:42px; margin-left:4px } 
.wizard-nav span.cuatro.on { background:url(../img/sprite-wizard.png) -500px -200px; width:62px; }
.wizard-nav span.cinco.on { background:url(../img/sprite-wizard.png) -600px -200px; width:64px; } 
.wizard-nav span.seis.on { background:url(../img/sprite-wizard.png) -700px -100px; width:57px; margin-left:26px } 

.wizard-nav .ok { width:16px; height:16px; display:inline-block; position:absolute; z-index:11; right:20px; bottom:25px;background:url(../img/sprite-wizard.png) -700px 0px; }

.wizard-nav.produccion span.uno.on { background:url(../img/sprite-wizard.png) 0px -200px; width:75px; }
.wizard-nav.creatividad span.uno.on { background:url(../img/sprite-wizard.png) -100px -200px; width:63px; } 


.tarifa { border: 1px solid #9797A5; padding:2px 4px 1px; }
.txt-green .tarifa { color: #1ABC9C; border:1px solid #1ABC9C;}

.comments .white { margin: 0 30px 0 40px}
.comments textarea { border:1px solid #1ABC9C; width:758px; max-width:740px; height:50px; background:#FFF; display:block  }
.comments-container { background:#DDD; color:#333; height:180px; overflow:auto; margin-bottom:10px; }
.comments-container.scroll-content { height:160px }
.comments-container .comment { padding:10px 20px }
.comment p.pull-left { width:93% }
.comments-container .pr { background:#E7E7E7; color:#006C52; }
.comments-container .pr img { margin:3px 20px 0 0 }

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input 
{ padding:1px 6px; }
label { margin-bottom:0px }






.footer { font:12px arial; color:#858593; text-align:center; margin: 30px 0 20px }










