{% extends "WOPPubliRadioWebBundle::layout.html.twig" %}

{% block content %}

<div class="section campaign">
    <div class="row-fluid">

        <div class="span12">
            <div class="white">
                <h1>Campañas</h1>
                <div class="mis-campanas">
                    
                         <div class="row-fluid text-center">

                        {% for campania in campanias %}

                                {% if campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::SinPagar') %}

                                    {{ include('WOPPubliRadioBundle::Campania/partials/sinpagar.html.twig', {'campania': campania}) }}

                                {% elseif campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::Paga') %}

                                    {{ include('WOPPubliRadioBundle::Campania/partials/pagada.html.twig', {'campania': campania}) }}

                                {% elseif campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::EsperandoConfirmacion') %}

                                    {{ include('WOPPubliRadioBundle::Campania/partials/sinconfirmar.html.twig', {'campania': campania}) }}

                                {% elseif campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::Confirmada') %}

                                    {{ include('WOPPubliRadioBundle::Campania/partials/confirmada.html.twig', {'campania': campania}) }}

                                {% endif %}

                            {% if loop.index is divisible by(3) %}

                                </div>  
                                <div class="row-fluid text-center">

                            {% endif %}    


                            

                        {% endfor %}

                        </div>

                    
                </div>
                <a href="{{ path('admin') }}" class="ico back"></a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block popups %}
<div id="pago" class="modal ms hide fade in" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body">
        <span class="ico ok-big"></span>
        <h2>CONFIRMAMOS:</h2>
        <p class="italic">TU PAGO EN PAYPAL HA SIDO RECIBIDO EXITOSAMENTE!</p>
    </div>
</div>
{% endblock %}

{% block afterscripts %}
<script language="javascript">
    $('.link-popover').popover();
</script>
{% endblock %}
