{% extends "WOPPubliRadioWebBundle::layout.html.twig" %}

{% block content %}

<div class="row-fluid section campaign comments">

    <div class="span12">
        <div class="white">
            <h1>Comentarios <span class="ico-comments"></span></h1>
            <div class="comments-container scroll-content">

                {% for comentario in comentarios %}
                    {% if comentario.user.hasrole('ROLE_ADMIN') %}

                    <div class="comment pr clearfix">
                        <img src="/img/avatar-smll.png" width="45" height="45" class="pull-left">
                        <p>
                        <span class="date">{{ comentario.datetime|date('d/m/Y H:i') }}</span>{{ comentario.mensaje }}
                        </p>
                    </div>

                    {% else%}

                    <div class="comment clearfix">
                        <p class="pull-left">
                        <span class="date"> {{ comentario.datetime|date('d/m/Y H:i') }}</span>{{ comentario.mensaje }}
                        </p>
                        <img src="/img/avatar-user-smll.png" width="45" height="45">
                    </div>

                    {% endif %}
                {% endfor %}

            </div>
            {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_widget(form.mensaje) }} 
                <input type="submit" class="btn btn-green pull-right" value="Enviar" >
            </form>
        </div>
        <a href="{{ path('wop_publiradio_campania_detalles', { hash : hash }) }}" class="ico back"></a>
    </div>
</div>

{% endblock content %}
