{% extends "WOPPubliRadioWebBundle::layout.html.twig" %}

{% block content %}

<div class="row-fluid section campaign">

    <div class="span12">
        <div class="white">
            <h1>Detalle de<br /> campaña</h1>
            <a href="{{ path('wop_publiradio_campania_comentarios', { hash : campania.queryHash }) }}" class="comments-link">VER COMENTARIOS <span class="ico-comments"><!--span class="ico num"--></span></span></a>

            {% if campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::SinPagar') %}
            {{ include('WOPPubliRadioBundle::Campania/partials/detalles_sinpagar.html.twig', {'campania': campania}) }}
            {% elseif campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::Paga') %}
            {{ include('WOPPubliRadioBundle::Campania/partials/detalles_pagada.html.twig', {'campania': campania}) }}
            {% elseif campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::EsperandoConfirmacion') %}
            {{ include('WOPPubliRadioBundle::Campania/partials/detalles_sinconfirmar.html.twig', {'campania': campania}) }}
            {% elseif campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::Confirmada') %}
            {{ include('WOPPubliRadioBundle::Campania/partials/detalles_confirmada.html.twig', {'campania': campania}) }}
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('wop_publiradio_campania_campanias') }}" class="ico back"></a>
            {% elseif is_granted('ROLE_USER') %}
            <a href="{{ path('wop_publiradio_campania_miscampanias') }}" class="ico back"></a>
            {% endif %}
        </div>
    </div>

</div>

{% endblock content %}

{% block popups %}
<div id="espacios-elegidos" class="modal espacios hide fade in" aria-hidden="false" style=""> </div>

<div id="pago" class="modal ms hide fade in" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body">
        <span class="ico ok-big"></span>
        <h2>CONFIRMAMOS:</h2>
        <p class="italic">TU PAGO HA SIDO RECIBIDO CORRECTAMENTE</p>
    </div>
</div>

<div id="confirmada" class="modal ms hide fade in" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body">
        <span class="ico ok-big"></span>
        <h2>CONFIRMAMOS:</h2>
        <p class="italic">TU CAMPAÑA HA SIDO CONFIRMADA. GRACIAS!</p>
    </div>
</div>

<div id="presupuestar" class="modal ms hide fade in" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body">
        <span class="ico warn-big"></span>
        <h2>AVISO:</h2>
        <p class="italic">ESTA A PUNTO DE CONFIRMAR EL PRESUPUESTO FINAL PARA LA CAMPAÑA!</p>
        <input type="submit" class="btn" id="presupuestofinal_submit_continuar" name="presupuestofinal[submit][continuar]" value="CONTINUAR">
    </div>
</div>

<div id="completar" class="modal ms hide fade in" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body clearfix">
        <span class="ico pencil"></span>
        <h2>AVISO:</h2>
        <p>Para optimizar tu planificación, debes terminar de completar los datos de tu campaña, para que podamos conseguir los mejores valores para tu planificación debes terminar de completar los datos de tu campaña.</p>
        <a href="{{ path('b2c_backoffice_facturacion_edit', { hash : campania.queryHash }) }}" class="btn btn-large pull-right">COMPLETAR DATOS DE CAMPAÑA</a>
    </div>
</div>

<div id="confirmar" class="modal ms hide fade in" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body">
        <span class="ico ok-big"></span>
        <h2>CONFIRMAMOS:</h2>
        <p class="italic">CAMPAÑA CONFIRMADA</p>
    </div>
</div>
{% endblock popups %}


{% block afterscripts %}
<script type="text/javascript" src="/js/vendor/jquery.blockUI.js"></script>
<script>

    function verificarPago()
    {
        $.unblockUI();
        $.ajax({
            method : 'GET',
            url : '{{ path('wop_publiradio_campania_estado',{ hash : campania.queryHash }) }}',
            dataType : 'json',
            success: function(response, stats, xhr) {
                if( response.result == 'success' && response.data.estado == '{{ constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::Paga') }}' ) {
                    $('div.modal#pago').on('hidden.bs.modal', function () {
                        window.location.href = window.location.pathname ;
                    }).modal('show');
                }
                else window.location.href = window.location.pathname ;
            }
        });
    }

    $(document).on("click","a.btn#confirmar",function(event) {
        
        var url  = '{{ path('wop_publiradio_campania_confirmar',{ hash : campania.queryHash }) }}';

        $.ajax({
            method : 'POST',
            url : url,
            dataType : 'json',
            success: function(data, stats, xhr) {
                if( data.result == 'success' ) {
                    $('div.modal#confirmada').on('hidden.bs.modal', function () {
                        window.location.href = window.location.href ;
                    }).modal('show');
                }
            }
        });
    });

    $(document).on("click","a.btn#completar",function(event) {
        $('div.modal#completar').modal('show');
    });

    $(document).on('click','input.btn#presupuestofinal_submit',function(event){
        $('div.modal#presupuestar').on('hidden.bs.modal', function () {
            window.location.href = window.location.href ;
        }).modal('show');
    });

    $(document).on('click','input.btn#presupuestofinal_submit_continuar',function(event){
        var hash = "{{ campania.queryHash }}";
        var precio = $('input#presupuestofinal_valor').val();

        $.ajax({
            method : 'POST',
            url : '/campania/crearpresupuestofinal/' + hash + '/' + precio ,
            dataType : 'json',
            success: function(data, stats, xhr) {
                if( data.result == 'success' ) {
                    window.location.href = window.location.href ;
                }
            }
        });
    });

    function popup(mylink, windowname)
    {
        $.blockUI();
        if (! window.focus) return true;
        var href;
        if (typeof(mylink) == 'string') href=mylink;
        else href=mylink.href;
        window.paypal_popup = window.open(href,windowname,'width=980,height=826,scrollbars=yes');
        return false;

    }

    pollTimer = window.setInterval(function() {
        if (window.paypal_popup && window.paypal_popup.closed !== false) { // !== is required for compatibility with Opera
            window.clearInterval(pollTimer);
            verificarPago();
        }
    }, 200);

</script>
{% endblock afterscripts %}
