{% for espacio in espacios %}

<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
<div id="modal-body" class="modal-body">
    <div class="row-fluid item">
        <div class="span2" >
            <img src="{{ espacio.repetidoraimagen }}" width="85" height="85">
        </div>
        <div class="span7" >
            <p><strong>HORARIO:</strong> {{ espacio.horario.hora|date('H') }} a {{ espacio.horario.horafin|date('H') }} Hs | {{ espacio.horario.dia }}</p>
            <p><strong>PROGRAMA:</strong> {{ espacio.programa }}</p>
            <p><strong>LUGAR:</strong> {{ espacio.zona }}</p>
            <p><strong>CUÑAS:</strong> {{ espacio.cantidadAnuncios }} &nbsp; <strong>TIEMPO:</strong> {{ espacio.duracionSegundos }}"</p>
        </div>
        <div class="span3">
            <div class="total">
                <p>TOTAL</p>
                <p><span class="tarifa">€ {{ espacio.precioTotal }}</span></p>
                <p class="descuento">C/ DESCUENTO</p>
                <p><span class="tarifa descuento">€ {{ espacio.precioDescuento }}</span></p>
            </div>
        </div>
    </div>
</div>

{% endfor %}
