{% extends "WOPPubliRadioWebBundle::layout.html.twig" %}

{% block content %}

<div class="section campaign">
    <div class="row-fluid">

        <div class="span12">
            <div class="white">
                <h1>Mis<br> campañas</h1>
                <div class="mis-campanas">
                    
                     <div class="row-fluid text-center">

                        {% for campania in campanias %}

                            

                                {% if campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::SinPagar') %}

                                    {{ include('WOPPubliRadioBundle::Campania/partials/sinpagar.html.twig', {'campania': campania}) }}

                                {% elseif campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::Paga') %}

                                    {{ include('WOPPubliRadioBundle::Campania/partials/pagada.html.twig', {'campania': campania}) }}

                                {% elseif campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::EsperandoConfirmacion') %}

                                    {{ include('WOPPubliRadioBundle::Campania/partials/sinconfirmar.html.twig', {'campania': campania}) }}

                                {% elseif campania.estado == constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::Confirmada') %}

                                    {{ include('WOPPubliRadioBundle::Campania/partials/confirmada.html.twig', {'campania': campania}) }}

                                {% endif %}

                            {% if loop.index is divisible by(3) %}

                                </div>  
                                <div class="row-fluid text-center">

                            {% endif %}    

                        {% endfor %}

                        </div> 

                    </div>
                </div>
                <a href="{{ path('b2c_servicios') }}" class="ico back"></a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block popups %}
<div id="pago" class="modal ms hide fade in" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body">
        <span class="ico ok-big"></span>
        <h2>CONFIRMAMOS:</h2>
        <p class="italic">TU PAGO EN PAYPAL HA SIDO RECIBIDO EXITOSAMENTE!</p>
    </div>
</div>

<div id="confirmar" class="modal ms hide fade in" aria-hidden="false">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body">
        <span class="ico ok-big"></span>
        <h2>CONFIRMAMOS:</h2>
        <p class="italic">CAMPANIA CONFIRMADA</p>
    </div>
</div>
{% endblock %}

{% block afterscripts %}
<script type="text/javascript" src="/js/vendor/jquery.blockUI.js"></script>
<script language="javascript">
    $('.link-popover').popover()

    function verificarPago(hash)
    {
        var url = '/campania/estado/' + hash ;
        $.unblockUI();
        $.ajax({
            method : 'GET',
            url : url,
            dataType : 'json',
            success: function(response, stats, xhr) {
                if( response.result == 'success' && response.data.estado == '{{ constant('WOP\\PubliRadioBundle\\Entity\\Solicitud::Paga') }}' ) {
                    $('div.modal#pago').on('hidden.bs.modal', function () {
                        window.location.href = window.location.pathname ;
                    }).modal('show');
                }
                else window.location.href = window.location.pathname ;
            }
        });
    }

    $(document).on("click","a.btn#confirmar",function(event) {
        var url  = $( event.currentTarget ).prop('rel');
        console.log(url);

        $.ajax({
            method : 'POST',
            url : url,
            dataType : 'json',
            success: function(data, stats, xhr) {
                if( data.result == 'success' ) {
                    $('div.modal#confirmada').on('hidden.bs.modal', function () {
                        window.location.href = window.location.pathname ;
                    }).modal('show');
                }
                else window.location.href = window.location.pathname ;
            }
        });
    });

    function popup(mylink, windowname, hash)
    {
        $.blockUI();
        if (! window.focus) return true;
        var href;
        if (typeof(mylink) == 'string') href=mylink;
        else href=mylink.href;
        window.paypal_popup = window.open(href,windowname,'width=980,height=826,scrollbars=yes');
        window.current_campania = hash ;
        return false;
    }

    pollTimer = window.setInterval(function() {
        if (window.paypal_popup && window.paypal_popup.closed !== false) { // !== is required for compatibility with Opera
            window.clearInterval(pollTimer);
            verificarPago(window.current_campania);
        }
    }, 200);

</script>
{% endblock %}
