{% extends 'WOPPubliRadioWebBundle::wizzardlayout.html.twig' %}

{% block content %}
{{ form_start(form) }}
{{ form_errors(form) }}
<div class="row-fluid section campaign forms">
    <div class="span10">
        <div class="white">
            <div class="row-fluid">
                <div class="span10 formulario">
                    <h1>Hacedlo vosotros</h1>

                    <div class="row-fluid">
                        <div class="span6">
                            <label>NOMBRE</label>
                            {{ form_widget(form.nombre) }} 
                        </div>
                        <div class="span6">
                            <label>APELLIDO</label>
                            {{ form_widget(form.apellido) }} 
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span6">
                            <label>EMAIL</label>
                            {{ form_widget(form.email.first) }}
                        </div>
                        <div class="span6">
                            <label>REPITE EMAIL</label>
                            {{ form_widget(form.email.second) }}
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span">
                            <label>DETALLE DE CAMPAÑA</label>
                            {{ form_widget(form.detalles) }}
                            CAPTCHA {{ form_widget(form.captcha) }}
                            <input type="submit"  class="btn btn-small pull-right"  id="wop_publiradiobundle_presupuestame_submit" name="wop_publiradiobundle_presupuestame[submit]" value="ENVIAR">
                        </div>
                    </div>
                </div>

                <div class="span2">
                    <span class="note">
                        <a href="#" role="button" data-toggle="modal" data-target="#masdeti">“Para poder crear tu cuña de radio, necesitamos saber un poco más de ti...”</a>
                        <span class="ico-help"></span>
                    </span>
                </div>

            </div>
            <span class="pico"></span>
        </div>
    </div>

    <div class="span2">
        <div class="avatar">
            <img src="/img/avatar-big.png" width="111" height="111">
            <p class="info-text">Desde este formulario te conectarás con nosotros para que sigamos tu presupuesto desde cero con un ejecutivo de cuentas. </p>
        </div>
    </div>

</div>
{{ form_widget(form.tipo) }}
</form>
{% endblock content %}

{% block popups %}

{% if tipo == 'creatividad' %}
<div id="masdeti" class="modal ms-big hide fade in" aria-hidden="false" style="display: none;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body clearfix">
        <h2>“Para poder crear tu cuña de radio, necesitamos saber un poco más de ti..”</h2>

        <p><strong>A qué te dedicas?</strong> No siempre como tu te ves, es como te ven los demás, por eso es 
        importante intentar ser objetivo, define tu actividad, con palabras claras y en muy 
        pocas líneas; no es necesario que busques tecnicismos.</p>

        <p><strong>A quién quieres dirigirte?</strong> Hombres, mujeres o ambos?, de qué edad? Jóvenes, mayores, todas las edades, o un publico muy concreto??, si es así dinos cuál por favor, de qué clase social??, alta, baja, media, todas?, todos los datos que nos puedas dar, nos ayudará a buscar una comunicación que te identifique con tu público objetivo.</p>

        <p><strong>Qué anuncio de radio o la publicidad de qué anunciante, te gustaría que fuera tuya? </strong> con qué tono te encuentras más cómodo? Humor, testimonial, institucional, muy serio… o con cuál no te encuentras cómodo?</p>

        <p><strong>Qué valores de tu producto o servicio,</strong> crees que son relevantes o diferenciales, respecto a la competencia, el precio, los años de experiencia/antigüedad, la distribución, la rapidez, la innovación, la profesionalidad? Por qué un cliente debería escoger tu producto o servicio, frente a los demás…</p>

        <p><strong>Quieres contarnos algo más</strong> que consideras interesante para que lo tengamos en cuenta, o que debamos incluir obligatoriamente?? Música?, palabras concretas?, tienes una pequeña idea, y quieres que trabajemos sobre ella? En que idioma la quieres??</p>
        <a href="#" data-dismiss="modal" class="ico ok pull-right"></a>
    </div>
</div>
{% elseif tipo == 'produccion' %}
<div id="masdeti" class="modal ms-big hide fade" aria-hidden="true" style="display: none;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body clearfix">
        <h2><span class="ico ok pull-left"></span> “Para poder crear tu cuña de radio,<br> necesitamos saber un poco más de ti..”</h2>
        <br>
        <p><strong>"Por favor, indícanos los matices que consideres importantes, como pueden ser:</strong></p>

        <p>Si quieres música o no, y en su caso, qué tipo de música, si quieres algún efecto de sonido, o matiz lingüístico, (si es un dialecto, o tipo de acento especial), número de locutores, sexo, etc y cualquier otra cuestión que te parezca interesante (aunque creas que no es importante, nos puede ayudar a que el resultado se adapte mejor a tus gustos), en cualquier caso, 
        nosotros te contaremos nuestra recomendación.</p>
    </div>
</div>
{% endif %}

{% endblock %}
