{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Descuento edit</h1>

    {{ form(edit_form) }}

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_descuento') }}">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
