{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Descuento </h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rangoinicial</th>
                <th>Rangofinal</th>
                <th>Descuento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_descuento_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.rangoInicial }}</td>
                <td>{{ entity.rangoFinal }}</td>
                <td>{{ entity.descuento }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_descuento_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_descuento_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_descuento_new') }}">
                Crear
            </a>
        </li>
    </ul>
    {% endblock %}
