{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Descuento creation</h1>

    {{ form(form) }}

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_descuento') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
