{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Descuento</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Rangoinicial</th>
                <td>{{ entity.rangoInicial }}</td>
            </tr>
            <tr>
                <th>Rangofinal</th>
                <td>{{ entity.rangoFinal }}</td>
            </tr>
            <tr>
                <th>Descuento</th>
                <td>{{ entity.descuento }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_descuento') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('admin_descuento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
