{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
<h1>Horario edit</h1>

{{ form(edit_form) }}

<ul class="record_Acciones">
    <li>
    <a href="{{ path('admin_programa_show', { id : entity.programa.id}) }}">
        Volver al listado
    </a>
    </li>
</ul>
{% endblock %}
