{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
    <h1>Horario </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hora</th>
                <th>Programa</th>
                <th>Dia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_horario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.hora }}</td>
                <td>{{ entity.programa.nombre }}</td>
                <td>{{ entity.dia }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_horario_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_horario_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_horario_new') }}">
                Crear
            </a>
        </li>
    </ul>
    {% endblock %}
