{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
    <h1>Horario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Programa</th>
                <td>{{ entity.programa }}</td>
            </tr>
            <tr>
                <th>Hora</th>
                <td>{{ entity.hora }}</td>
            </tr>
            <tr>
                <th>Dia</th>
                <td>{{ entity.dia }}</td>
            </tr>
            <tr>
                <th>Precios</th>
                <td>
                    <div>
                        <table>
                            {% for precio in entity.precios %}
                            <tr>
                                <td>
                                    {{ precio.repetidora }}
                                </td>
                                <td>
                                    € {{ precio.valor }}
                                </td>
                                <td>
                                    <a href="{{ path('admin_precio_show', { id : precio.id }) }}">Ver</a>
                                </td>
                                <td>
                                    <a href="{{ path('admin_precio_edit', { id : precio.id }) }}">Editar</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_Acciones">
    <li>
    <a href="{{ path('admin_programa_show', { id : entity.programa.id}) }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('admin_horario_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
