{% block menu %}

<li>
<a href="{{ path("b2c_index") }}">
    <i class="icon-home"></i>
    <span>Ver sitio</span>
</a>
</li>


<li id="user">
<a href="#" class="dropdown-toggle" >
    <i class="icon-group"></i>
    <span>Usuarios</span>
    <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
    <li><a href="{{ path('admin_user') }}"><i class="icon-double-angle-right"></i>Listar</a></li>
    <li><a href="{{ path('admin_user_new') }}"><i class="icon-double-angle-right"></i>Crear</a></li>
</ul>
</li>

<li id="emisora">
<a href="#" class="dropdown-toggle" >
    <i class="icon-cog"></i>
    <span>Emisoras</span>
    <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
    <li><a href="{{ path('admin_emisora') }}"><i class="icon-double-angle-right"></i>Listar</a></li>
    <li><a href="{{ path('admin_emisora_new') }}"><i class="icon-double-angle-right"></i>Crear</a></li>
</ul>
</li>

<li id="repetidora">
<a href="#" class="dropdown-toggle" >
    <i class="icon-cogs"></i>
    <span>Repetidoras</span>
    <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
    <li><a href="{{ path('admin_repetidora') }}"><i class="icon-double-angle-right"></i>Listar</a></li>
    <li><a href="{{ path('admin_repetidora_new') }}"><i class="icon-double-angle-right"></i>Crear</a></li>
</ul>
</li>


<li id="programa">
<a href="#" class="dropdown-toggle" >
    <i class="icon-comment"></i>
    <span>Programas</span>
    <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
    <li><a href="{{ path('admin_programa') }}"><i class="icon-double-angle-right"></i>Listar</a></li>
    <li><a href="{{ path('admin_programa_new') }}"><i class="icon-double-angle-right"></i>Crear</a></li>
</ul>
</li>

<li id="horario">
<a href="#" class="dropdown-toggle" >
    <i class="icon-calendar"></i>
    <span>Horarios</span>
    <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
    <li><a href="{{ path('admin_horario') }}"><i class="icon-double-angle-right"></i>Listar</a></li>
    <li><a href="{{ path('admin_horario_new') }}"><i class="icon-double-angle-right"></i>Crear</a></li>
</ul>
</li>

<!--
<li id="solicitud">
<a href="#" class="dropdown-toggle" >
    <i class="icon-shopping-cart"></i>
    <span>Solicitudes</span>
    <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
    <li><a href="{{ path('admin_solicitud') }}"><i class="icon-double-angle-right"></i>Listar</a></li>
</ul>
</li>
-->
<li id="facturacion">
<a href="#" class="dropdown-toggle" >
    <i class="icon-bullhorn"></i>
    <span>Facturacion</span>
    <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
    <li><a href="{{ path('admin_facturacion') }}"><i class="icon-double-angle-right"></i>Listar</a></li>
    <li><a href="{{ path('admin_facturacion_new') }}"><i class="icon-double-angle-right"></i>Crear</a></li>
</ul>
</li>

<li id="presupuesto">
<a href="#" class="dropdown-toggle" >
    <i class="icon-bullhorn"></i>
    <span>Campañas</span>
    <b class="arrow icon-angle-down"></b>
</a>
<ul class="submenu">
    <li><a href="{{ path('admin_presupuesto') }}"><i class="icon-double-angle-right"></i>Creatividad/Producción</a></li>
    <li><a href="{{ path('wop_publiradio_campania_campanias') }}"><i class="icon-double-angle-right"></i>Planificacion</a></li>
    <!--li><a href="{{ path('admin_mensajeria') }}"><i class="icon-double-angle-right"></i>Mensajeria</a></li-->
</ul>
</li>

<script>
    $(document).ready(function(){
        var url = document.URL.split('/');

        var section = url[4] ;

        $("li#" + section).addClass('active open');
    });
</script>

{% endblock menu %}
