
{% trans_default_domain 'FOSUserBundle' %}

<div class="error" id="register-error" style="display:none">Verifique los datos y vuelva a intentar.</div>
<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
    <h2>REGISTRATE <br /> 
        <span class="italic">EN POCOS PASOS! </span>
    </h2>
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span6"> <label>NOMBRE</label> {{ form_widget(form.nombre) }} </div>
                <div class="span6"> <label>APELLIDO</label> {{ form_widget(form.apellido) }}</div>
            </div>
            <div class="row-fluid">
                <div class="span6"> <label>EMAIL</label>{{ form_widget(form.email.first) }} </div>
                <div class="span6"> <label>REPITE EMAIL</label> {{ form_widget(form.email.second) }} </div>
            </div>
            <div class="row-fluid">
                <div class="span6"> <label>PASSWORD</label> {{ form_widget(form.plainPassword.first) }} </div>
                <div class="span6"> <label>REPITE PASSWORD</label> {{ form_widget(form.plainPassword.second) }} </div>
            </div>
            <div class="row-fluid">
                <div class="span8">
                    <div id="captcha-region">
                        <label>CAPTCHA</label>
                        {{ form_widget(form.captcha, {'attr': {'class': 'captcha'}}) }}
                    </div>
                    <input id="condiciones" type="checkbox"> <a href="#condiciones" data-toggle="modal">ACEPTO LAS CONDICIONES DE USO</a>
                </div>
                <div class="span4 text-right">
                    <input id="register" type="submit" class="btn pull-right" value="REGISTRARME"><br/><br/> 
            <a href="/login_ajax?campania=1" 
                id="login-btn"
                role="button" 
                data-toggle="modal" 
                data-target="#login" 
                class="italic">O INICIAR SESIÓN </a>
                </div>
            </div>
        </div>
    </div>
</form>
