{% extends 'IARMainBundle:Admin:layout.html.twig' %}

{% block main %}
<div id="publiradiolayout">

    {% block controller %}
    {% endblock controller %}


</div><!--/#publicradiolayout-->
{% endblock main %}
