
<tr id="{{ horario_index }}" class="horario">
    <td>{{ wop_publiradiobundle_horario[hora].name }}</td>
    <td>{{ wop_publiradiobundle_horario[recargo].name }}</td>
    <td>{{ wop_publiradiobundle_horarioprecio[alcanceNacional] }}</td>
    <td>{{ wop_publiradiobundle_horarioprecio[precioNacional] }}</td>
    <td>{{ wop_publiradiobundle_horarioprecio[alcanceComunidadAutonoma] }}</td>
    <td>{{ wop_publiradiobundle_horarioprecio[precioComunidadAutonoma] }}</td>
    <td>{{ wop_publiradiobundle_horarioprecio[alcanceProvincial] }}</td>
    <td>{{ wop_publiradiobundle_horarioprecio[precioProvincial] }}</td>
    <td>{{ wop_publiradiobundle_horarioprecio[alcanceLocal] }}</td>
    <td>{{ wop_publiradiobundle_horarioprecio[precioLocal] }}</td>
    <td>
        <a class="btn btn-mini btn-danger" id="horariocontroller_removeitemaction" href="javascript:void(0);">
            <i class="icon-trash"></i>
        </a>
    </td>
</tr>
