<table class="table table-striped table-bordered table-hover dataTable" id="horarios-list">
    <thead>
        <tr>
            <th>Rango Horario</th>
            <th>Recargo</th>
            <th>Alcance Nacional</th>
            <th>Precio Nacional</th>
            <th>Alcance Comunidad Autonoma</th>
            <th>Precio Comunidad Autonoma</th>
            <th>Alcance Provincia</th>
            <th>Precio Provincia</th>
            <th>Alcance Local</th>
            <th>Precio Local</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
