{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block controller -%}
    <h1>RangoDia</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numerodia</th>
                <td>{{ entity.numeroDia }}</td>
            </tr>
            <tr>
                <th>Nombredia</th>
                <td>{{ entity.nombreDia }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_rangodia') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('admin_rangodia_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
