{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
<h1>Emisora edit</h1>

{{ form(edit_form) }}

<a href="/{{ emisora.webpath }}">/{{ emisora.webpath }}</a><br/>
<img src="/{{ emisora.webpath }}"/>
<ul class="record_Acciones">
    <li>
    <a href="{{ path('admin_emisora') }}">
        Volver al listado
    </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
