{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
    <h1>Emisora</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ entity.webpath }}</td>
            </tr>
            <tr>
                <th></th>
                <td><img src="{{ entity.webpath }}" /></td>
            </tr>
        </tbody>
    </table>

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_emisora') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('admin_emisora_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
