{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block content -%}
<div class="row-fluid section campaign facturacion">
    <div class="white">
        <div class="span12">
            {{ include('WOPPubliRadioBundle::B2CFacturacion/partials/form.html.twig', {'facturacion': facturacion}) }}
            <a href="{{ path('wop_publiradio_campania_detalles', { hash : hash }) }}" class="link-back"><span class="ico back"></span>ver detalle de campaña</a>
        </div>                          
    </div>
</div>
{% endblock %}
