<div class="row-fluid section campaign facturacion">
    <div class="white">
        <div class="span12">
            <h1>Datos de facturación y campaña</h1>
            <h2>DATOS EMPRESA ANUNCIANTE</h2>
            <div class="row-fluid direccion">
                <div class="span5">
                    <label>RAZÓN SOCIAL</label>
                    <input type="text">
                </div>
                <div class="span2 error">
                    <label>X CIF</label>
                    <input type="text">
                </div>
                <div class="span5 error">
                    <label>X DIRECCIÓN</label>
                    <input type="text">
                </div>
            </div>
            <h2>DATOS DE CAMPAÑA</h2>
            <div class="row-fluid">
                <div class="span5">
                    <h3>FECHAS EN LAS QUE QUIERES 
                        EMITIR TU CAMPAÑA</h3>
                    <div class="row-fluid">
                        <div class="span6">
                            <label class="label-smll">INICIO</label>
                            <input type="text" placeholder="DD" class="input-date"> / <input type="text" placeholder="MM" class="input-date"> / <input type="text" placeholder="AA" class="input-date">
                        </div>
                        <div class="span6 error">
                            <label class="label-smll">X FINAL</label>
                            <input type="text" placeholder="DD" class="input-date"> / <input type="text" placeholder="MM" class="input-date"> / <input type="text" placeholder="AA" class="input-date">
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span8 error ">
                            <h3>X PREFERENCIA DE EMISIÓN DÍA DE SEMANA</h3>
                        </div>
                        <div class="span4 text-small"><input type="radio" name="semana">SI  <input type="radio" name="semana">NO</div>
                    </div>
                    <a href="#" class="link-back"><span class="ico back"></span>ver detalle de campaña</a>
                </div>
                <div class="span7 error">
                    <label>X COMENTARIO</label>
                    <textarea placeholder="si quieres hacernos algún comentario/
                        indicación sobre la campaña, este es 
                        el momento, por favor."></textarea>
                    <a href="#" class="btn btn-small pull-right">ENVIAR</a>
                </div>
            </div>
        </div>                          
    </div>
</div>
