{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block controller -%}
    <h1>Facturacion </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Razonsocial</th>
                <th>Cif</th>
                <th>Direccion</th>
                <th>Fechainiciocampania</th>
                <th>Fechafincampania</th>
                <th>Comentario</th>
                <th>Comentarios</th>
                <th>Preferenciadiasemana</th>
                <th>Timestamp</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_facturacion_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.razonSocial }}</td>
                <td>{{ entity.cif }}</td>
                <td>{{ entity.direccion }}</td>
                <td>{% if entity.fechaInicioCampania %}{{ entity.fechaInicioCampania|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fechaFinCampania %}{{ entity.fechaFinCampania|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.comentario }}</td>
                <td>{{ entity.comentarios }}</td>
                <td>{{ entity.preferenciaDiaSemana }}</td>
                <td>{% if entity.timestamp %}{{ entity.timestamp|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_facturacion_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_facturacion_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_facturacion_new') }}">
                Crear
            </a>
        </li>
    </ul>
    {% endblock %}
