{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block controller -%}
    <h1>Facturacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Razonsocial</th>
                <td>{{ entity.razonSocial }}</td>
            </tr>
            <tr>
                <th>Cif</th>
                <td>{{ entity.cif }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Fechainiciocampania</th>
                <td>{{ entity.fechaInicioCampania|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fechafincampania</th>
                <td>{{ entity.fechaFinCampania|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ entity.comentario }}</td>
            </tr>
            <tr>
                <th>Comentarios</th>
                <td>{{ entity.comentarios }}</td>
            </tr>
            <tr>
                <th>Preferenciadiasemana</th>
                <td>{{ entity.preferenciaDiaSemana }}</td>
            </tr>
            <tr>
                <th>Timestamp</th>
                <td>{{ entity.timestamp|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_facturacion') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('admin_facturacion_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
