@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'chalet-1980';
    src: url('../fonts/chalonei-webfont.eot');
    src: url('../fonts/chalonei-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chalonei-webfont.woff') format('woff'),
         url('../fonts/chalonei-webfont.ttf') format('truetype'),
         url('../fonts/chalonei-webfont.svg#chalet-londonnineteeneightyRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalet-1970';
    src: url('../fonts/chalonse-webfont.eot');
    src: url('../fonts/chalonse-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chalonse-webfont.woff') format('woff'),
         url('../fonts/chalonse-webfont.ttf') format('truetype'),
         url('../fonts/chalonse-webfont.svg#chalet-londonnineteenseventRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalet-1960';
    src: url('../fonts/chalonsi-webfont.eot');
    src: url('../fonts/chalonsi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chalonsi-webfont.woff') format('woff'),
         url('../fonts/chalonsi-webfont.ttf') format('truetype'),
         url('../fonts/chalonsi-webfont.svg#chalet-londonnineteensixtyRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalet-ny1980';
    src: url('../fonts/chanewei-webfont.eot');
    src: url('../fonts/chanewei-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chanewei-webfont.woff') format('woff'),
         url('../fonts/chanewei-webfont.ttf') format('truetype'),
         url('../fonts/chanewei-webfont.svg#chalet-newyorknineteeneightRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalet-ny1970';
    src: url('../fonts/chanewse-webfont.eot');
    src: url('../fonts/chanewse-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chanewse-webfont.woff') format('woff'),
         url('../fonts/chanewse-webfont.ttf') format('truetype'),
         url('../fonts/chanewse-webfont.svg#chalet-newyorknineteensevenRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalet-ny1960';
    src: url('../fonts/chanewsi-webfont.eot');
    src: url('../fonts/chanewsi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chanewsi-webfont.woff') format('woff'),
         url('../fonts/chanewsi-webfont.ttf') format('truetype'),
         url('../fonts/chanewsi-webfont.svg#chalet-newyorknineteensixtyRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalet-paris1980';
    src: url('../fonts/chaparei-webfont.eot');
    src: url('../fonts/chaparei-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chaparei-webfont.woff') format('woff'),
         url('../fonts/chaparei-webfont.ttf') format('truetype'),
         url('../fonts/chaparei-webfont.svg#chalet-parisnineteeneightyRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalet-paris1960';
    src: url('../fonts/chaparsi-webfont.eot');
    src: url('../fonts/chaparsi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chaparsi-webfont.woff') format('woff'),
         url('../fonts/chaparsi-webfont.ttf') format('truetype'),
         url('../fonts/chaparsi-webfont.svg#chalet-parisnineteensixtyRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'chalet-tokyo';
    src: url('../fonts/chatokyo-webfont.eot');
    src: url('../fonts/chatokyo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chatokyo-webfont.woff') format('woff'),
         url('../fonts/chatokyo-webfont.ttf') format('truetype'),
         url('../fonts/chatokyo-webfont.svg#chalet-tokyoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}