
<link href="/b2c/css/bootstrap.css" rel="stylesheet">
<link href="/b2c/css/custom.css" rel="stylesheet">

{% block body %}

    {% for type, messages in app.session.flashbag.all() %}
        {% for key, message in messages %}
            <div class="flash-{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    
    <div id="container">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>

{% endblock body %}

