{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block controller -%}
    <h1>Mensajeria </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mensaje</th>
                <th>Solicitudhash</th>
                <th>Datetime</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_mensajeria_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.mensaje }}</td>
                <td>{{ entity.solicitudHash }}</td>
                <td>{% if entity.datetime %}{{ entity.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_mensajeria_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_mensajeria_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_mensajeria_new') }}">
                Crear
            </a>
        </li>
    </ul>
    {% endblock %}
