{{ form_start(form) }}

<h1>Datos de facturación y campaña</h1>
<h2>DATOS EMPRESA ANUNCIANTE</h2>
<div class="row-fluid direccion">
    <div class="span5">
        <label>RAZÓN SOCIAL</label>
        {{ form_widget(form.razonSocial) }} 
    </div>
    <div class="span2">
        <label>CIF</label>
        {{ form_widget(form.cif) }} 
    </div>
    <div class="span5">
        <label>DIRECCIÓN</label>
        {{ form_widget(form.direccion) }} 
    </div>
</div>
<h2>DATOS DE CAMPAÑA</h2>
<div class="row-fluid">
    <div class="span5">
        <h3>FECHAS EN LAS QUE QUIERES 
            EMITIR TU CAMPAÑA</h3>
        <div class="row-fluid">
            <div class="span6">
                <label class="label-smll">INICIO</label>
                {{ form_widget(form.fechaInicioCampania.day   , {'attr':{'class':'input-date', 'placeholder' : 'DD'}}) }} /
                {{ form_widget(form.fechaInicioCampania.month , {'attr':{'class':'input-date', 'placeholder' : 'MM'}}) }} /
                <input name="{{ form.fechaInicioCampania.year.vars.form.vars.full_name }}" id="{{ form.fechaInicioCampania.year.vars.form.vars.id }}" type="text" class="input-date" placeholder='YY' value="{{ form.fechaInicioCampania.year.vars.value|slice(2,3) }}">
            </div>
            <div class="span6">
                <label class="label-smll">FIN</label>
                {{ form_widget(form.fechaFinCampania.day   , {'attr':{'class':'input-date', 'placeholder' : 'DD'}}) }} /
                {{ form_widget(form.fechaFinCampania.month , {'attr':{'class':'input-date', 'placeholder' : 'MM'}}) }} /
                <input name="{{ form.fechaFinCampania.year.vars.form.vars.full_name }}" id="{{ form.fechaFinCampania.year.vars.form.vars.id }}" type="text" class="input-date" placeholder='YY' value="{{ form.fechaFinCampania.year.vars.value|slice(2,3) }}">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span8">
                <h3>PREFERENCIA DE EMISIÓN DÍA DE SEMANA</h3>
            </div>
            <div class="span4 text-small">
                {{ form_widget(form.preferenciaDiaSemana.0) }} Si
                {{ form_widget(form.preferenciaDiaSemana.1) }} No
            </div>
        </div>
    </div>
    <div class="span7">
        <label>COMENTARIO</label>
        {{ form_widget(form.comentarios, {'attr':{'placeholder':'si quieres hacernos algún comentario/indicación sobre la campaña, este es el momento, por favor.'}}) }}
        <button class="btn btn-small pull-right">ENVIAR</a>
    </div>
</div>
{{ form_widget(form.campaniaHash) }}
{{ form_widget(form._token) }}
</form>
