<div class="span4">
    <p class="date">
    <a href="{{ path('wop_publiradio_campania_detalles', { hash : campania.queryHash }) }}" 
        data-content="CAMPAÑA CONFIRMADA"
        data-placement="bottom" 
        data-toggle="popover" 
        data-trigger="hover" class="link-popover" 
        data-original-title="" 
        title=""
        >{{ campania.datetime|date('d/m/Y') }}
    <span class="img-clip">
        <span class="ico ok"></span>
    </span><br>
</a> </p>
</div>
