<div class="row-fluid detalle">
    <div class="span3 text-center">
        <span class="img-clip">								
            <span class="ico ok"></span>
        </span><br />
        <a href="{{ path('b2c_backoffice_facturacion_edit',{ hash : campania.queryHash }) }}" class="edit-link">Editar datos <br/>de facturación </a>
    </div>
    <div class="span9">
        <p class="fecha">FECHA DE CREACIÓN: {{ campania.datetime|date('d/m/Y H:i') }}</p>
        <p class="status">{{ campania.estadotext(campania.estado)|upper }}
        <a href="{{ path('wop_publiradio_campania_espacios', { hash : campania.queryHash }) }}" role="button" data-target="#espacios-elegidos" data-toggle="modal">ver espacios<span class="ico-lupa"></span></a> </p>
        <p>PRECIO TARIFA <span class="tarifa">€ {{ preciototal }}</span> TOTAL C/ DESCUENTO <span class="tarifa">€ {{ preciototalcondescuento }}</span></p><br />
        <p>TOTAL C/DESCUENTO DE PUBLIENRADIO <span class="tarifa">€ {{ preciofinalcondescuento }}</span></p>
    </div>
</div>

