<div class="row-fluid detalle">
    <div class="span3 text-center">
        <span class="img-clip">								
            <span class="ico whait"></span>
        </span><br />
        <a href="{{ path('b2c_backoffice_facturacion_edit',{ hash : campania.queryHash }) }}" class="edit-link">Editar datos <br/>de facturación </a>
    </div>
    <div class="span9">
        <p class="fecha">FECHA DE CREACIÓN: {{ campania.datetime|date('d/m/Y H:i') }}</p>
        <p class="status">{{ campania.estadotext(campania.estado)|upper }}
        <a href="{{ path('wop_publiradio_campania_espacios', { hash : campania.queryHash }) }}" role="button" data-target="#espacios-elegidos" data-toggle="modal">ver espacios<span class="ico-lupa"></span></a> </p>
        <p>PRECIO TARIFA <span class="tarifa">€ {{ preciototal }}</span> TOTAL C/ DESCUENTO <span class="tarifa">€ {{ preciototalcondescuento }}</span></p><br />

        {% if is_granted('ROLE_ADMIN') %}

        <p>
        <label>PRESUPUESTO FINAL</label>
        <input id="presupuestofinal_valor" name="presupuestofinal"></input>
        <input type="submit" class="btn" id="presupuestofinal_submit" name="submit" value="CONFIRMAR">
        </p>

        {% elseif is_granted('ROLE_USER') %}

        <p class="txt-green">PARA EL TOTAL CON DESCUENTO<br /> DE PUBLIENRADIO DEBES:</p>
        <a href="{{ path('wop_publiradio_campania_comentarios', { hash : campania.queryHash }) }}" class="btn btn-green" role="button" data-toggle="modal">CONTACTARME CON PUBLI EN RADIO</a>

        {% endif %}
    </div>
</div>
