<div class="span4">
    <p class="date">
    <a href="{{ path('wop_publiradio_campania_detalles', { hash : campania.queryHash }) }}" 
        data-content="COSTO FINAL CONFIRMADO. ESPERANDO CONFIRMACION"
        data-placement="bottom" 
        data-toggle="popover" 
        data-trigger="hover" class="link-popover" 
        data-original-title="" 
        title=""
        >{{ campania.datetime|date('d/m/Y') }}
    <span class="img-clip">
        <span class="ico ok"></span>
    </span><br>

        {% if is_granted('ROLE_USER') %}
        {% if not is_granted('ROLE_ADMIN') %}
        <a id="confirmar"
            href="#"
            rel="{{ path('wop_publiradio_campania_confirmar',{ hash : campania.queryHash }) }}"
            class="btn btn-green" 
            role="button" 
            data-toggle="modal"
            >CONFIRMAR</a>
        {% endif %}
        {% endif %}
</a> </p>
</div>

