<div class="span4">
    <p class="date"><a href="{{ path('wop_publiradio_campania_detalles', { hash : campania.queryHash }) }}" 
        data-content="CAMPAÑA CREADA. ESPERANDO PAGO"
        data-placement="bottom" 
        data-toggle="popover" 
        data-trigger="hover" class="link-popover" 
        data-original-title="" 
        title=""
        >{{ campania.datetime|date('d/m/Y') }}
        <span class="img-clip">                         
            <span class="ico cancel"></span>
        </span> <br>

        {% if is_granted('ROLE_USER') %}
        {% if not is_granted('ROLE_ADMIN') %}
        <a id="pagar" 
            class="btn btn-green" 
            onClick="return popup(this,'PayPal', '{{ campania.queryHash }}')" 
            href="{{ path('b2c_paypal_payment',{ hash : campania.queryHash }) }}"
            >PAGAR</a>
        {% endif %}
        {% endif %}

    </a></p>
</div>
