<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Publi en radio</title>

        <meta charset="utf-8" />
        <meta name="description" content="overview & stats" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        {% block stylesheets %}
        <!-- basic styles -->
        <!--link rel="stylesheet" href="{{ asset('/bundles/iarmain/css/bootstrap.min.css') }}" /-->
        <!--link rel="stylesheet" href="{{ asset('/bundles/iarmain/css/bootstrap-responsive.min.css') }}" /-->
        <!--link rel="stylesheet" href="{{ asset('/bundles/iarmain/css/font-awesome.min.css') }}" /-->
        <!--[if IE 7]>
        <link rel="stylesheet" href="assets/bundles/iarmain/css/font-awesome-ie7.min.css" />
        <![endif]-->


        <!-- ace styles -->
        <link rel="stylesheet" href="{{ asset('/bundles/iarmain/css/ace.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/bundles/iarmain/css/ace-responsive.min.css') }}" />
        <!--link rel="stylesheet" href="{{ asset('/bundles/iarmain/css/ace-skins.min.css') }}" /-->

        <link href="/css/bootstrap.css" rel="stylesheet">
        <link href="/css/custom.css" rel="stylesheet">

        <!--[if lt IE 9]>
        <link rel="stylesheet" href="assets/bundles/iarmain/css/ace-ie.min.css" />
        <![endif]-->
        {% endblock %}

        {% block javascript %}
        <!-- basic scripts -->
        <script type="text/javascript">
            window.jQuery || document.write("<script src='{{ asset('/bundles/iarmain/js/jquery-1.9.1.min.js') }}'>\x3C/script>");
        </script>

        <script src="{{ asset('/bundles/iarmain/js/bootstrap.min.js') }}"></script>
        <!-- page specific plugin scripts -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="assets/bundles/iarmain/js/excanvas.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{{ asset('/bundles/iarmain/js/jquery-ui-1.10.2.custom.min.js') }} "></script>
        <script type="text/javascript" src="{{ asset('/bundles/iarmain/js/jquery.ui.touch-punch.min.js')   }} "></script>
        <script type="text/javascript" src="{{ asset('/bundles/iarmain/js/jquery.slimscroll.min.js')       }} "></script>
        <script type="text/javascript" src="{{ asset('/bundles/iarmain/js/jquery.easy-pie-chart.min.js')   }} "></script>
        <script type="text/javascript" src="{{ asset('/bundles/iarmain/js/jquery.sparkline.min.js')        }} "></script>
        <script type="text/javascript" src="{{ asset('/bundles/iarmain/js/jquery.flot.min.js')             }} "></script>
        <script type="text/javascript" src="{{ asset('/bundles/iarmain/js/jquery.flot.pie.min.js')         }} "></script>
        <script type="text/javascript" src="{{ asset('/bundles/iarmain/js/jquery.flot.resize.min.js')      }} "></script>

        <!-- ace scripts -->
        <script type="text/javascript" src="{{ asset('/bundles/iarmain/js/ace-elements.min.js') }} "></script>
        <script type="text/javascript" src="{{ asset('/bundles/iarmain/js/ace.min.js')          }} "></script>

        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
