    <body>
        <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#1abc9c; font-family:Arial, Helvetica, sans-serif" bgcolor="#1abc9c" align="center">
            <tr>
                <td colspan="3"><img src="{{ app.request.schemeAndHttpHost }}/img/mail/header-mensaje.gif" width="600" height="204"></td>
            </tr>
            <tr>
                <td><img src="{{ app.request.schemeAndHttpHost }}/img/mail/img-left.gif" width="224" height="201" align="top"></td>
                <td style="background-color:#FFF; color:#1abc9c"><p style="font-style:italic; line-height:24px">Has recibido un nuevo comentario, para verlo has click en el botón debajo.</p></td>
                <td><img src="{{ app.request.schemeAndHttpHost }}/img/mail/img-right.gif" width="94" height="201" align="top"></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center">
                    <a href="{{ app.request.schemeAndHttpHost }}{{ path('wop_publiradio_campania_comentarios', { "hash" : hash }) }}" style="background-color:#f05b5d; font-size:20px; color:#FFF; padding:8px 15px 8px 25px; text-decoration:none; display:inline-block; line-height:28px">VER COMENTARIO<img src="img/mail/flecha.gif" width="36" height="26" align="top"></a></br/>
                    <a href="{{ app.request.schemeAndHttpHost }}{{ path('b2c_index') }}" style="color:#FFF; font-size:12px">has click y ve el comentario!</a>
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="background-color:#FFF; color:#A6A6B7; font-size:11px;"><p style="padding:10px 30px">Texto legales...</p></td>
            </tr>
        </table>    
    </body>
