{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block controller -%}
<h1>Solicitud </h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Zona</th>
            <th>Userid</th>
            <th>Lugarid</th>
            <th>Lugarnombre</th>
            <th>Repetidoraid</th>
            <th>Repetidoranombre</th>
            <th>Programaid</th>
            <th>Programanombre</th>
            <th>Horarioid</th>
            <th>Cantidadanuncios</th>
            <th>Duracionsegundos</th>
            <th>Precioid</th>
            <th>Preciototal</th>
            <th>Precioduracion</th>
            <th>Datetime</th>
            <th>Queryhash</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_solicitud_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.zona }}</td>
            <td>{{ entity.userId }}</td>
            <td>{{ entity.lugarId }}</td>
            <td>{{ entity.lugarNombre }}</td>
            <td>{{ entity.repetidoraId }}</td>
            <td>{{ entity.repetidoraNombre }}</td>
            <td>{{ entity.programaId }}</td>
            <td>{{ entity.programaNombre }}</td>
            <td>{{ entity.horarioId }}</td>
            <td>{{ entity.cantidadAnuncios }}</td>
            <td>{{ entity.duracionSegundos }}</td>
            <td>{{ entity.precioId }}</td>
            <td>{{ entity.precioTotal }}</td>
            <td>{{ entity.precioDuracion }}</td>
            <td>{% if entity.datetime %}{{ entity.datetime|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td>{{ entity.queryHash }}</td>
            <td>
                <ul>
                    <li>
                    <a href="{{ path('admin_solicitud_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
