{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block controller -%}
    <h1>Solicitud</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Zona</th>
                <td>{{ entity.zona }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ entity.userId }}</td>
            </tr>
            <tr>
                <th>Lugarid</th>
                <td>{{ entity.lugarId }}</td>
            </tr>
            <tr>
                <th>Lugarnombre</th>
                <td>{{ entity.lugarNombre }}</td>
            </tr>
            <tr>
                <th>Repetidoraid</th>
                <td>{{ entity.repetidoraId }}</td>
            </tr>
            <tr>
                <th>Repetidoranombre</th>
                <td>{{ entity.repetidoraNombre }}</td>
            </tr>
            <tr>
                <th>Programaid</th>
                <td>{{ entity.programaId }}</td>
            </tr>
            <tr>
                <th>Programanombre</th>
                <td>{{ entity.programaNombre }}</td>
            </tr>
            <tr>
                <th>Horarioid</th>
                <td>{{ entity.horarioId }}</td>
            </tr>
            <tr>
                <th>Cantidadanuncios</th>
                <td>{{ entity.cantidadAnuncios }}</td>
            </tr>
            <tr>
                <th>Duracionsegundos</th>
                <td>{{ entity.duracionSegundos }}</td>
            </tr>
            <tr>
                <th>Precioid</th>
                <td>{{ entity.precioId }}</td>
            </tr>
            <tr>
                <th>Preciototal</th>
                <td>{{ entity.precioTotal }}</td>
            </tr>
            <tr>
                <th>Precioduracion</th>
                <td>{{ entity.precioDuracion }}</td>
            </tr>
            <tr>
                <th>Datetime</th>
                <td>{{ entity.datetime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Queryhash</th>
                <td>{{ entity.queryHash }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_solicitud') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
