{% extends 'WOPPubliRadioWebBundle::wizzardlayout.html.twig' %}

{% block content %}
<div class="row-fluid section campaign selection create">
    <div class="span10">
        <div class="white text-center">
            <h1>Crea tu campaña</h1>
            <div class="selection">
                <div class="row-fluid">
                    <div class="span6 dashed-line">
                        <a href="{{ path('b2c_campana_eleccion_tipo') }}">
                            <span class="icon yo-mismo"></span>
                            <h2>CALCULAR EL <br />COSTE YO MISMO!</h2>
                        </a>
                    </div>
                    <div class="span6">
                        <a href="{{ path('wop_publiradio_campania_presupuestame') }}">
                            <span class="icon presupuestame"></span>
                            <h2>HACEDLO <br />VOSOTROS</h2>
                        </a>
                    </div>
                </div>
            </div>
            <a href="{{ path('b2c_index') }}" class="ico back"></a>
            <span class="pico"></span>
        </div>
    </div>

    <div class="span2">
        <div class="avatar">
            <img src="/img/avatar-big.png" width="111" height="111">
        </div>
    </div>
</div>
{% endblock content %}
