{% extends 'WOPPubliRadioWebBundle::wizzardlayout.html.twig' %}

{% block content %}
<div class="row-fluid section campaign selection create">

    <div class="span10">
        <div class="white text-center">
            <h1>¿Qué necesitas?</h1>
            <div class="selection">
                <div class="row-fluid">
                    <div class="span4 dashed-line">
                        <a href="{{ path('b2c_campana_planificacion') }}">
                            <span class="icon-big planificacion"></span>
                            <h2>PLANIFICACIÓN</h2>
                        </a>
                    </div>
                    <div class="span4 dashed-line">
                        <a href="{{ path('b2c_campana_creatividad') }}">
                            <span class="icon-big creatividad"></span>
                            <h2>CREATIVIDAD</h2>
                        </a>
                    </div>
                    <div class="span4">
                        <a href="{{ path('b2c_campana_produccion') }}">
                            <span class="icon-big produccion"></span>
                            <h2>PRODUCCIÓN</h2>
                        </a>
                    </div>
                </div>
            </div>
            <a href="{{ path('b2c_campana_creacion') }}" class="ico back"></a>
            <span class="pico"></span>
        </div>
    </div>

    <div class="span2">
        <div class="avatar">
            <img src="/img/avatar-big.png" width="111" height="111">
            
        </div>
    </div>

</div>
{% endblock content %}
