
        <!-- Aviso completar datos popup -->
        <div id="confirm" class="modal ms hide fade">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-body clearfix">
                <span class="ico pencil"></span>
                <p>Para que podamos conseguir los mejores valores para tu planificación debes terminar de completar los datos de tu campaña.</p>
                <a href="#" class="btn btn-large pull-right">COMPLETAR DATOS DE CAMPAÑA ►</a>
            </div>
        </div>
        <!-- /.Aviso completar datos popup -->

        <!-- Paypal popup -->
        <div id="paypal-ok" class="modal ms hide fade">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-body">
                <span class="ico ok-big"></span>
                <h2>CONFIRMAMOS:</h2>
                <p class="italic">TU PAGO EN PAYPAL HA SIDO RECIBIDO EXITOSAMENTE!</p>
            </div>
        </div>
        <!-- /.Paypal popup -->

        <!-- Warning Ubicacion popup -->
        <div id="warning_ubicacion" class="modal ms info warning hide fade" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-body">
                <span class="ico pencil"></span>
                <h2>ATENCIÓN!</h2>
                <p>SELECCIONA AL MENOS UNA UBICACIÓN PARA TU PLAN</p>
            </div>
        </div>
        <!-- /.Warning Ubicacion popup -->

        <!-- Warning Emisoras popup -->
        <div id="warning_emisoras" class="modal ms info warning hide fade" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-body">
                <span class="ico pencil"></span>
                <h2>ATENCIÓN!</h2>
                <p>SELECCIONA AL MENOS UNA EMISORA DE LAS DISPONIBLES</p>
            </div>
        </div>
        <!-- /.Warning Emisoras popup -->

        <!-- Warning Horarios popup -->
        <div id="warning_horarios" class="modal ms info warning hide fade" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-body">
                <span class="ico pencil"></span>
                <h2>ATENCIÓN!</h2>
                <p>SELECCIONA AL MENOS UN HORARIO PARA TU CONTINUAR</p>
            </div>
        </div>
        <!-- /.Warning Horarios popup -->

        <!-- Warning Duraciones popup -->
        <div id="warning_duraciones" class="modal ms info warning hide fade" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-body">
                <span class="ico pencil"></span>
                <h2>ATENCIÓN!</h2>
                <p>SELECCIONA AL MENOS UNA DURACIÓN PARA CONTINUAR</p>
            </div>
        </div>
        <!-- /.Warning Duraciones popup -->

        <!-- Warning Cantidad popup -->
        <div id="warning_cantidad" class="modal ms info warning hide fade" aria-hidden="true">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <div class="modal-body">
                <span class="ico pencil"></span>
                <h2>ATENCIÓN!</h2>
                <p>SELECCIONA AL MENOS UNA CUÑA PARA CONTINUAR</p>
            </div>
        </div>
        <!-- /.Warning Cantidad popup -->

	<!-- Aviso completar datos popup -->
	<div id="confirm" class="modal ms hide fade">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
		<div class="modal-body clearfix">
			<span class="ico pencil"></span>
			<p>Para que podamos conseguir los mejores valores para tu planificación debes terminar de completar los datos de tu campaña.</p>
			<a href="#" class="btn btn-large pull-right">COMPLETAR DATOS DE CAMPAÑA ►</a>
		</div>
    </div>
	<!-- /.Aviso completar datos popup -->


    <div id="registracion-ok" class="modal ms gracias hide fade" aria-hidden="false" style="display: block; z-index:3000;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <div class="modal-body clearfix">
            <span class="ico ok-big"></span>
            <h2>GRACIAS <i>POR REGISTRARTE!</i></h2>
            <p>En segundos recibirás, en el email indicado, la información
            para activar tu cuenta y poder acceder a <strong>PUBLIENRADIO</strong>.</p>
        </div>
    </div>

    <!-- Planificación: Ejemplo -->
    <div id="planificacion-ejemplo" class="modal planificacion-ejemplo hide fade">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <div class="modal-body clearfix text-center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <th scope="col" colspan="31" class="text-center">ENERO</th>
                </tr>
                <tr>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>
                    <th scope="col">10</th>
                    <th scope="col">11</th>
                    <th scope="col">12</th>
                    <th scope="col">13</th>
                    <th scope="col">14</th>
                    <th scope="col">15</th>
                    <th scope="col">16</th>
                    <th scope="col">17</th>
                    <th scope="col">18</th>
                    <th scope="col">19</th>
                    <th scope="col">20</th>
                    <th scope="col">21</th>
                    <th scope="col">22</th>
                    <th scope="col">23</th>
                    <th scope="col">24</th>
                    <th scope="col">25</th>
                    <th scope="col">26</th>
                    <th scope="col">27</th>
                    <th scope="col">28</th>
                    <th scope="col">29</th>
                    <th scope="col">30</th>
                    <th scope="col">31</th>
                </tr>
                <tr>
                    <th scope="col">X</th>
                    <th scope="col">J</th>
                    <th scope="col">V</th>
                    <th scope="col">S</th>
                    <th scope="col">D</th>
                    <th scope="col">L</th>
                    <th scope="col">M</th>
                    <th scope="col">X</th>
                    <th scope="col">J</th>
                    <th scope="col">V</th>
                    <th scope="col">S</th>
                    <th scope="col">D</th>
                    <th scope="col">L</th>
                    <th scope="col">M</th>
                    <th scope="col">X</th>
                    <th scope="col">J</th>
                    <th scope="col">V</th>
                    <th scope="col">S</th>
                    <th scope="col">D</th>
                    <th scope="col">L</th>
                    <th scope="col">M</th>
                    <th scope="col">X</th>
                    <th scope="col">J</th>
                    <th scope="col">V</th>
                    <th scope="col">S</th>
                    <th scope="col">D</th>
                    <th scope="col">L</th>
                    <th scope="col">M</th>
                    <th scope="col">X</th>
                    <th scope="col">J</th>
                    <th scope="col">V</th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tfoot>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tfoot>
            </table>
            <br /><br />
            <table width="85%" border="0" cellspacing="2" cellpadding="0" align="center" class="table-horarios">
                <tr>
                    <th scope="col">SOPORTE</th>
                    <th scope="col">PROGRAMA</th>
                    <th scope="col">DIA</th>
                    <th scope="col">FORMATO</th>
                    <th scope="col">HORARIO</th>
                    <th scope="col">NºINS</th>
                    <th scope="col">TARIFA</th>
                    <th scope="col" nowrap>BRUTO TARIFA</th>
                    <th scope="col" nowrap>NETO NEG</th>
                </tr>
                <tr>
                    <td rowspan="3"><img src="img/img-radio.png" width="85" height="85"></td>
                    <td nowrap>DÉJATE DE HISTORIAS</td>
                    <td nowrap>lun a dom</td>
                    <td>CUÑAS 20´</td>
                    <td>06 10:00 </td>
                    <td>69 </td>
                    <td>$ 360</td>
                    <td>$ 24.840</td>
                    <td>$ 6.210 </td>
                </tr>
                <tr>
                    <td>DÉJATE DE HISTORIAS</td>
                    <td>lun a dom</td>
                    <td>CUÑAS 20´</td>
                    <td>06 10:00 </td>
                    <td>69 </td>
                    <td>$ 360</td>
                    <td>$ 24.840</td>
                    <td>$ 6.210 </td>
                </tr>
                <tr>
                    <td>DÉJATE DE HISTORIAS</td>
                    <td>lun a dom</td>
                    <td>CUÑAS 20´</td>
                    <td>06 10:00 </td>
                    <td>69 </td>
                    <td>$ 360</td>
                    <td>$ 24.840</td>
                    <td>$ 6.210 </td>
                </tr>
            </table>


        </div>
    </div>
    <!-- /.Planificación: Ejemplo -->
