{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block content %}
<div class="section section-faq">
    <div class="row-fluid">
        <div class="span4 text-right">
            <div class="id-section">
                <div class="icon faq"></div>
                <h1><span>Preguntas</span>
                    <span>frecuentes</span>
                </h1>
            </div>
        </div>
        <div class="span8">
            <!--div class="controls">
                <a href="#" class="arrow up"></a>
            </div-->
            <div class="faq-container">

                <div class="accordion" id="faq-list">

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list" href="#preg1">
                                <span class="num">1</span>¿Cuál es vuestro tiempo de respuesta si pido precio para un plan de medios?
                            </a>
                        </div>
                        <div id="preg1" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                 El tiempo de respuesta es de menos de 24 horas, si es viernes o festivo, el primer día laborable posterior.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list" href="#preg2">
                                <span class="num">2</span> ¿Cuando puedo estar en campaña desde que confirmo un plan de medios?
                            </a>
                        </div>
                        <div id="preg2" class="accordion-body collapse">
                            <div class="accordion-inner">
                                48 horas después de la confirmación (si la/s cuña/s está/n en poder de la/s emisoras) por lo que la fecha de emisión, dependerá más de la entrega de cuñas en las emisoras.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list" href="#preg3">
                                <span class="num">3</span> ¿Qué garantías tengo de que se emita lo que yo he ordenado?
                            </a>
                        </div>
                        <div id="preg3" class="accordion-body collapse">
                            <div class="accordion-inner">
                                Con el cierre de campaña, se entregará un informe, que recogerá los certificados oficiales de emisión de la emisora/s seleccionada/s, en los que se refleja el número de cuñas y las horas de emisión (expedido por la/s propia/s emisora/s). Si por causas ajenas no se hubiera emitido alguna de las cuñas previstas, se abonarán por el mismo importe contratado, en el mismo momento de entregar el informe, a la cuenta origen.
                            </div>
                        </div>
                    </div>

                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#faq-list" href="#preg4">
                                <span class="num">4</span> ¿Cómo puedo anular una campaña?
                            </a>
                        </div>
                        <div id="preg4" class="accordion-body collapse">
                            <div class="accordion-inner">
                                A través de comunicación directa mediante tus claves de acceso, si la anulación se produce 48 horas antes de la emisión, la anulación no conlleva gastos; y se abonará el coste de medios a la cuenta origen, si se produce durante la emisión, los primeros pases que se podrán anular, serán los de emisión en 48 horas posteriores a los de la fecha de notificación, procediendo a la devolución del importe de los pases no emitidos (a la cuenta de origen), descontando un cargo de anulación, consistente en un 10% del valor de lo no emitido, en concepto de incumplimiento de negociación.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--div class="controls">
                <a href="#" class="arrow down"></a>
            </div-->
        </div>
    </div>
</div>
{% endblock content %}
