{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block content %}
<div class="main">
    <div class="row-fluid">
        <div class="span6">
            <img src="/img/video.png" width="362" height="279">
        </div>
        <div class="span6">
            <div class="txt-home">
                <h1>Crea tu campaña<br /><span class="grey">de forma rápida y directa</span></h1>
                <p>Con Publi en Radio puedes generar tu planificación a medida en pocos minutos y al mejor coste.</p>
                <a href="{{ path('b2c_campana_creacion') }}" class="btn btn-large">CREAR CAMPAÑA</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
