{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block content %}
<div class="section quienes-somos">
    <div class="row-fluid">
        <div class="span4">
            <div class="id-section">
                <div class="icon quienes-somos"></div>
                <h1><span>Quienes</span>
                    <span>Somos</span>
                </h1>
                <a href="{{ path('b2c_servicios') }}" class="btn">VER SERVICIOS</a>
            </div>
        </div>
        <div class="span8 ">
            <div class="text-container">
                <p>Orión Media, se fundó en 1999, desde entonces y enfocada a la especialización en el medio radio, da servicio a anunciantes directos y a agencias de publicidad. Sus servicios, abarcan todas las necesidades posibles de cara a obtener éxito de una campaña en radio.</p>
                <p>Nuestra posición de intermediarios en la mayor parte del volumen de compra que manejamos, nos obliga a mantener la discreción, como uno de los pilares en los que se sustenta nuestra Filosofía, no podemos llenar nuestra web de logotipos de clientes para los que hemos o estamos trabajando, nuestro aval son los años que llevamos en activo.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
