{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block content %}
<div class="section servicios">
    <div class="row-fluid">
        <div class="span5 intro">
            <div class="id-section">
                <div class="icon servicios"></div>
                <h1><span>¿Qué</span>
                    <span>ofrecemos?</span>
                </h1>
                <p>Somos pioneros en la creación de herramientas de trabajo específico de radio, y las ponemos a disposición de nuestros clientes, de forma gratuita, en la era on line, donde prima el “háztelo tu mismo”, con el fin de ahorrar costes y optimizar tu tiempo. </p>
                <p>En esta herramienta podrás calcular fielmente y con la garantía del mejor coste, tu  propia campaña de radio.</p>
            </div>
        </div>
        <div class="span7">
            <div class="text-container">
                <h2><span class="ico planificacion"></span> PLANIFICACIÓN</h2>
                <p>Aquí podrás seleccionar las emisoras, programas y cuñas en donde  realizaremos tu nueva campaña publicitaria.</p>
                <h2><span class="ico creatividad"></span> CREATIVIDAD</h2>
                <p>Gracias a nuestra alianza estratégica con la multipremiada agencia Remo, garantizamos un estándar de calidad para todas las piezas que realizamos.</p>

                <h2><span class="ico produccion"></span> PRODUCCIÓN</h2>
                <p>Somos especialistas y realizamos producciones de cuñas a medida. Una producción de calidad requiere de elementos, herramientas y capital humano con una amplia experiencia en el mundo de la comunicación. </p>

                <a href="{{ path("b2c_campana_creacion") }}" class="btn">CREAR CAMPAÑA</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
