{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block content %}

<div class="row-fluid section campaign selection create">
    <div class="span10">
        <div class="white text-center">


{% trans_default_domain 'FOSUserBundle' %}

    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if app.session is not empty %}
<a href="{{ path('wop_publiradio_campania_miscampanias') }}">Ir a Mis Campañas</a>
    {% endif %}
<span class="pico"></span>
</div>

</div>
    <div class="span2">
        <div class="avatar">
            <img src="/img/avatar-big.png" width="111" height="111">
        </div>
    </div>

</div>

{% endblock content %}

