{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}
{% autoescape false %}
{{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
{% endautoescape %}
{% endblock %}

{% block body_html %}
{% autoescape false %}
    <body>
        <table width="600" border="0" cellspacing="0" cellpadding="0" style="background-color:#1abc9c; font-family:Arial, Helvetica, sans-serif" bgcolor="#1abc9c" align="center">
            <tr>
                <td colspan="3"><img src="{{ app.request.schemeAndHttpHost }}/img/mail/header-creacion-cuenta.gif" width="600" height="204"></td>
            </tr>
            <tr>
                <td><img src="{{ app.request.schemeAndHttpHost }}/img/mail/img-left.gif" width="224" height="201" align="top"></td>
                <td style="background-color:#FFF; color:#1abc9c"><p style="font-style:italic; line-height:24px">Felicitaciones, has creado tu cuenta en Publi en Radio correctamente. Para completar el proceso debes confirmar tu cuenta desde el botón que aparece debajo.</p></td>
                <td><img src="{{ app.request.schemeAndHttpHost }}/img/mail/img-right.gif" width="94" height="201" align="top"></td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center">
                    <a href="{{ confirmationUrl }}" style="background-color:#f05b5d; font-size:20px; color:#FFF; padding:8px 15px 8px 25px; text-decoration:none; display:inline-block; line-height:28px">CONFIRMA CUENTA<img src="{{ app.request.schemeAndHttpHost }}/img/mail/flecha.gif" width="36" height="26" align="top"></a></br />
                    <a href="{{ confirmationUrl }}" style="color:#FFF; font-size:12px">Haz click y comienza ya!</a>
                </td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="background-color:#FFF; color:#A6A6B7; font-size:11px;"><p style="padding:10px 30px">Legales: Este pago incluye, negociación definitiva con las emisoras, calendario emisión, envio de ordenes, reserva de espacios, control y seguimiento de campaña.legales: Este pago incluye, negociación definitiva con las emisoras, calendario emisión, envio de ordenes.</p></td>
            </tr>
        </table>    
    </body>
{% endautoescape %}
{% endblock %}
