{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block content %}

<div class="row-fluid section campaign selection create">
    <div class="span10">
        <div class="white text-center registracion">

            {{ include('IARUserBundle::AJAXRegistration/register_content.html.twig') }}

            <a href="{{ path('b2c_index') }}" class="ico back"></a>
            <span class="pico"></span>
        </div>
    </div>
    <div class="span2">
        <div class="avatar">
            <img src="/img/avatar-big.png" width="111" height="111">
        </div>
    </div>
</div>

{% endblock content %}
