{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
<h1>Precio edit</h1>

{{ form(edit_form) }}

<ul class="record_Acciones">
    <li>
    <a href="{{ path('admin_horario_show', {id:entity.horario.id}) }}">
        Volver al listado
    </a>
    </li>
</ul>
{% endblock %}
