{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
<h1>Precio </h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Horario</th>
            <th>Repetidora</th>
            <th>Valor</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_precio_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.horario }}</td>
            <td>{{ entity.repetidora }}</td>
            <td>{{ entity.valor }}</td>
            <td>
                <ul>
                    <li> <a href="{{ path('admin_precio_show', { 'id': entity.id }) }}">Ver</a> </li>
                    <li> <a href="{{ path('admin_precio_edit', { 'id': entity.id }) }}">edit</a> </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--
<ul>
    <li>
    <a href="{{ path('admin_precio_new', {'repetidora':repetidora}) }}">
        Crear
    </a>
    </li>
</ul>
-->
{% endblock %}
