{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
<h1>Precio creation</h1>

{{ form(form) }}

<ul class="record_Acciones">
    <li>
    </li>
</ul>

<script>
    $(window).ready(function(){
        var repetidora = {{ repetidora }} ;
        $('form#new_precio #wop_publiradiobundle_precio_repetidora')
            .val(repetidora)
            .hide();
        $('form#new_precio #wop_publiradiobundle_precio_repetidora')
            .parent()
            .append('<input disabled value="' + $('form#new_precio #wop_publiradiobundle_precio_repetidora :selected').text() + '"> </input>');
    });
</script>
{% endblock %}
