{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
    <h1>Precio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Valor</th>
                <td>{{ entity.valor }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="table">
    <li>
        <a href="{{ path('admin_horario_show', {id:entity.horario.id}) }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('admin_precio_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
