{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid section contacto">

    <h1><span>Contacto</span></h1>
    <div class="line">&nbsp;</div>
    <div class="span6">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="row-fluid">
                <div class="span5">
                    <label>NOMBRE</label>
                    {{ form_widget(form.nombre) }}
                </div>
                <div class="span5">
                    <label>APELLIDO</label>
                    {{ form_widget(form.apellido) }} 
                </div>
            </div>

            <div class="row-fluid">
                <div class="span5">
                    <label>EMAIL</label>
                    {{ form_widget(form.email.first) }}
                </div>
                <div class="span5">
                    <label>REPITE EMAIL</label>
                    {{ form_widget(form.email.second) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span">						
                    <label>MENSAJE</label>
                    {{ form_widget(form.mensaje) }}
                </div>
            </div>

            <div class="row-fluid">
                <div class="span">							
                    <label>CAPTCHA</label>
                    {{ form_widget(form.captcha) }}
                    <input type="submit" class="btn" value="Enviar">
                </div>
            </div>
            {{ form_widget(form._token) }}
        </form>
    </div>

    <div class="span6 address">
        <div class="dir">
            <span class="ico dir-uno"></span>
            <p>Calle Orión Nº 23</p>
            <p>Urbanización Miraval, 28130 Alalpardo | Madrid</p>
            <p>Tfno. 91 431 92 96</p>
            <p>Contacto: <a href="mailto:info@publienradio.es">info@publienradio.es</a></p>
        </div>
        <div class="dir">
            <span class="ico dir-dos"></span>
            <p>Estudio de Grabación</p>
            <p>Calle Mazarredo 10 28005 | Madrid</p>
            <p>Entrada por agencia REMO </p>
            <p>Servicios Creativos:</p>
            <p>Agencia Remo | <a href="mailto:david@iloveremo.com">david@iloveremo.com</a></p>
        </div>
    </div>

</div>
{% endblock content %}
