{% extends 'WOPPubliRadioWebBundle::layout.html.twig' %}

{% block content %}

<div class="row-fluid section campaign selection create">
    <div class="span10">
        <div class="white text-center">

            {% trans_default_domain 'FOSUserBundle' %}

            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                <div>
                    {% if invalid_username is defined %}
                    <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <input type="text" id="username" name="username" required="required" />
                </div>
                <div>
                    <input class="btn btn-large" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                </div>
            </form>

            <a href="{{ path('b2c_index') }}" class="ico back"></a>
            <span class="pico"></span>
        </div>
    </div>
    <div class="span2">
        <div class="avatar">
            <img src="/img/avatar-big.png" width="111" height="111">
        </div>
    </div>
</div>

{% endblock %}
