{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
    <h1>Repetidora </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Nacional</th>
                <th>Comunidad</th>
                <th>Provincia</th>
                <th>Municipio</th>
                <th>Emisora</th>
                <th>Recargo</th>
                <th>Precios</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_repetidora_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{% if entity.nacional %} Nacional {% endif %}</td>
                <td>{{ entity.comunidad }}</td>
                <td>{{ entity.provincia }}</td>
                <td>{{ entity.municipio }}</td>
                <td>{{ entity.emisora }}</td>
                <td>{{ entity.recargo }}</td>
                <td><a href="{{ path('admin_precio_fetch', {'repetidora': entity.id}) }}">Ver</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_repetidora_show', { 'id': entity.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_repetidora_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_repetidora_new') }}">
                Crear
            </a>
        </li>
    </ul>
    {% endblock %}
