{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
    <h1>Programa edit</h1>

    {{ form(edit_form) }}

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_programa') }}">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
