{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
    <h1>Programa </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Emisora</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_programa_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.emisora }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_programa_show', { 'id': entity.id }) }}">ver</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_programa_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_programa_new') }}">
                Crear
            </a>
        </li>
    </ul>
    {% endblock %}
