{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block main -%}
    <h1>Programa</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Emisora</th>
                <td>{{ entity.emisora }}</td>
            </tr>
            <tr>
                <th>Horarios</th>
                <td>
                    <div>
                        <table>
                            {% for horario in entity.horarios %}
                            <tr>
                                <td>
                                    {{ horario }}
                                </td>
                                <td>
                                    <a href="{{ path('admin_horario_show', { id : horario.id }) }}">Ver</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_programa') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('admin_programa_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
