{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block controller -%}
    <h1>Recargo creation</h1>

    {{ form(form) }}

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_recargo') }}">
            Volver al listado
        </a>
    </li>
</ul>
{% endblock %}
