{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block controller -%}
    <h1>Recargo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Porcentaje</th>
                <td>{{ entity.porcentaje }}</td>
            </tr>
            <tr>
                <th>Segundosduracion</th>
                <td>{{ entity.segundosDuracion }}</td>
            </tr>
            <tr>
                <th>Regla</th>
                <td>{{ entity.regla }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_recargo') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('admin_recargo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
