
<div id="login-form">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <div class="modal-body">
        <div class="error" id="login-error" style="display:none">Los datos ingresados son incorrectos.</div>
        <form>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <label for="username">EMAIL</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            <label for="password">PASSWORD</label>
            <input type="password" id="password" name="_password" required="required" value="Ejemplo: juan@publienradio.com"/>
            <br/>
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">recordarme</label>
            <input type="submit" class="btn" id="_submit" name="_submit" value="INICIAR SESIÓN" />
        </form>
        <a href="{{ path('fos_user_resetting_request') }}">Olvidé mi password</a>
        <div class="ms-register">
            <p>¿no dispones de una cuenta?</p>
            <a href="/register_ajax?modal=1" 
                id="register-btn"
                role="button" 
                data-toggle="modal" 
                data-target="#register" 
                class="italic"> REGISTRATE AHORA!</a>

        </div>
    </div>
</div>

<script>
    $("#login-form input[type=submit]").on("click",function(event){
        event.preventDefault();

        var data = $("#login-form form").serialize();
                $('div#login-error').hide();

        $.ajax({
            url:'/login_check',
            method:"POST",
            data:data,
            dataType:'json',
            success:function(data, txtStatus, jqXHR) {
                $('ul.nav span#sesion-texto').html('CERRAR SESION')
                $('a#sesion-link')
                    .prop('href','/logout')
                    .removeAttr('data-toggle')
                    .removeAttr('data-target');
                $(".modal").modal('hide');
                $(".modal-backdrop").remove();

                window.user = data.user ;

                if( document.URL.match('campana_planificacion') )
                {
                    if( $('a#registracion-modal').length > 0 ) $('a#registracion-modal').click();
                }
            },
            error:function(jqXHR, textStatus, errorThrown){
                if( jqXHR.status == '400' ) $('div#login-error').show();
            }
        });
    });

    $("a#register-btn").on("click",function(event){
        $(".modal-backdrop").remove();
        $("div#login.modal").modal('hide');
    });
</script>
