{% extends 'WOPPubliRadioBundle::layout.html.twig' %}

{% block controller -%}
    <h1>Facturacion edit</h1>

    {{ form(edit_form) }}

        <ul class="record_Acciones">
    <li>
        <a href="{{ path('admin_facturacion') }}">
            Volver al listado
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
